@model SitesViewModel

@{ 
    string fileName = (Model.Item != null && Model.Item.Logo != null) ? Model.Item.Logo.Name : string.Empty;
    string fileSize = (Model.Item != null && Model.Item.Logo != null) ? Model.Item.Logo.Size : string.Empty;
    string fileUrl = (Model.Item != null && Model.Item.Logo != null) ? Model.Item.Logo.Url : string.Empty;
}

<div class="content">
    <h1>@ViewBag.Title</h1>
    @Html.TextBoxFor(m => m.Item.Title, new { @title = "Название", @required = "" })
    @Html.TextBoxFor(m => m.Item.LongTitle, new { @title = "Полное название" })
    <div class="group-block" title="Пользовательские скрипты">
        @Html.TextAreaFor(m => m.Item.Scripts, new { @type = "editor", @height = "300" })
    </div>
    @Html.HiddenFor(m => m.Item.Id)
</div>

<div class="dop_info-block">
    @Html.TextBoxFor(m => m.Item.Alias, new { @title = "Домен" })
    @*@Html.DropDownListFor(m => m.Item.DepartmentAffiliation, new SelectList(Model.DepartmentAffiliations, "Key", "Value", null), new { @title = "Тип ведомственной принадлежности:", @class = "selectpicker" })*@
    @Html.TextBoxFor(m => m.Item.Site, new { @title = "Ссылка" })
    @Html.TextBox("upload", null, new { type = "file", title = "Изображение", data_name = fileName, data_size = fileSize, data_url = fileUrl, accept = ".jpg,.jpeg,.png,.gif" })
    @Html.TextBoxFor(m => m.Item.Logo.Url, new { type = "hidden", value = fileUrl })
    <div class="group-block" title="Социальные сети">
        @Html.TextBoxFor(m => m.Item.Facebook, new { @title = "Facebook" })
        @Html.TextBoxFor(m => m.Item.Vk, new { @title = "Вконтакте" })
        @Html.TextBoxFor(m => m.Item.Instagramm, new { @title = "Instagramm" })
        @Html.TextBoxFor(m => m.Item.Odnoklassniki, new { @title = "Одноклассники" })
        @Html.TextBoxFor(m => m.Item.Twitter, new { @title = "Twitter" })
    </div>
    @if (Model.Item != null)
    {
        @Html.ActionLink("Журнал изменений", "log", "services", new { @id = Model.Item.Id }, new { @id = "LogLists", @class = "button pop-up_frame icon-archive", @data_class = "LogList", @title = "Журнал изменений" })
    }
</div>

<div class="buttons">
    @if ((Model.Item != null && Model.UserResolution.Change) || (Model.Item == null && Model.UserResolution.Write))
    {
        <button type="submit" name="action" value="save-btn" data-primary="true" class="button icon-create">Сохранить</button>
    }
</div>
