@model DoctorsViewModel
<div class="container">
    @if (Model.DoctorsItem != null)
    {
        <h1>@Model.DoctorsItem.FIO</h1>

        if (Model.DoctorsItem.EmployeeInfo != null)
        {
            <div class="row">
                <div class="col-md-12">
                    <strong>Место работы: </strong>
                    @Model.DoctorsItem.EmployeeInfo.UZ.Name
                </div>
                <div class="col-md-12">
                    <strong>Занимаемая должность: </strong>
                    <ul>
                        @foreach (var p in Model.DoctorsItem.EmployeeInfo.EmployeeRecords)
                        {
                            <li>@p.RecordPost.Name</li>
                        }
                    </ul>
                </div>
                <div class="col-md-12">
                    <strong>Специальность по основной должности: </strong>
                    <ul>
                        @foreach (var p in Model.DoctorsItem.EmployeeInfo.EmployeeRecords)
                        {
                            <li>@p.RecrodPosition.Name</li>
                        }
                    </ul>
                </div>
                <div class="col-md-12">
                    <strong>Дата рождения: </strong>
                    @if (Model.DoctorsItem.EmployeeInfo.Birthdate != null)
                    {
                        string birthDate = Convert.ToDateTime(Model.DoctorsItem.EmployeeInfo.Birthdate).ToString("dd MMMM yyyy") + " г.";
                        @birthDate
                    }
                </div>
                <div class="col-md-12">
                    <strong>Образовательные учреждения: </strong>
                    <ul>
                        @foreach (var e in Model.DoctorsItem.EmployeeInfo.EmployeeSertificateEducation)
                        {
                            <li>
                                <strong>Название: </strong>@e.IssueOrg.Name<br />
                                <strong>Год выпуска: </strong>@(e.IssueDate != null ? Convert.ToDateTime(e.IssueDate).Year.ToString() + " г." : null)<br />
                                <strong>Специальность: </strong>@e.EducationSpeciality.Name
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-md-12">
                    <strong>Стаж работы в отрасли: </strong>
                    <ul>
                        @foreach (var s in Model.DoctorsItem.EmployeeInfo.EmployeeRecords)
                        {
                            string dateBegin = s.DateBegin != null ? Convert.ToDateTime(s.DateBegin).ToString("dd.MM.yyyy") + " г. " : null;
                            string dateEnd = s.DateEnd != null ? "—" + Convert.ToDateTime(s.DateEnd).ToString("dd.MM.yyyy") + " г. " : null;
                            string experience = dateBegin + dateEnd + s.RecordPost.Name + " " + s.Organisation;

                            <li>@experience</li>
                        }
                    </ul>
                </div>
                <div class="col-md-12">
                    @if (Model.DoctorsItem.EmployeeInfo.EmployeeAwards != null)
                    {
                        <strong>Награды: </strong>
                        <ul>
                            @foreach (var a in Model.DoctorsItem.EmployeeInfo.EmployeeAwards)
                            {
                                string dateAward = a.Issued != null ? Convert.ToDateTime(a.Issued).ToString("dd.MM.yyyy") + " г. " : null;
                                <li>
                                    @dateAward + @a.Name
                                </li>
                            }
                        </ul>
                    }
                </div>
            </div>
        }
    }
    else
    {
        <h1>Врачи</h1>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-xs-12">
                        @if (Model.DoctorsList != null)
                        {
                            <table class="table">
                                <tr>
                                    <th>ФИО</th>
                                    <th>Специальность</th>
                                    <th>Контакты</th>
                                    <th>Распиcание</th>
                                </tr>
                                @foreach (var item in Model.DoctorsList)
                                {
                                    <tr>
                                        <td><a href="/@ViewBag.ControllerName/@item.Id">@item.FIO</a></td>
                                        <td>@item.Post</td>
                                        <td>@item.Status</td>
                                        <td></td>
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <form role="form" class="filtr_news" action="/@ViewBag.ControllerName/">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group search_news">
                                <label class="label_filtr" for="search_news">Ключевые слова</label>
                                <input type="text" class="filtr_data form-control" name="searchtext" id="search_news" value="@ViewBag.SearchText" />
                            </div>
                        </div>
                        @if (Model.DepartmentsSelectList != null)
                        {
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="label_filtr">Отделения</label>
                                    <select class="form-control select2" name="group">
                                        <option value="">не выбрано</option>
                                        @foreach (var item in Model.DepartmentsSelectList)
                                        {
                                            <optgroup label="@item.Title">
                                                @if (item.Departments != null)
                                                {
                                                    foreach (var department in item.Departments)
                                                    {
                                                        string selected = (department.Id.ToString() == ViewBag.DepartGroup) ? "selected" : "";
                                                        <option value="@department.Id" @selected>@department.Title</option>
                                                    }

                                                    <option value="test">test</option>
                                                }
                                            </optgroup>
                                        }
                                    </select>

                                </div>
                            </div>
                        }

                        <div class="col-sm-12 control-filter">
                            <a class="btn btn-default pull-right" href="/@ViewBag.ControllerName">Очистить</a>
                            <button class="btn sub" type="submit">ПРИМЕНИТЬ</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    }
</div>