@model DoctorsViewModel
@{
    Layout = ViewBag.Layout;
}
<div class="type-page">
    <div class="container">
        @Html.Partial("services/breadcrumbs")
        @if (Model.DoctorsItem != null)
        {
            <h1>@Model.DoctorsItem.FIO</h1>
            if (Model.DoctorsItem.EmployeeInfo != null)
            {
                @Html.Partial("part/item")
            }
        }
        else
        {
            <h1>@ViewBag.Title</h1>
            //if (Model.DoctorsList != null)
            //{
                @Html.Partial("part/list")
            //}
        }
    </div>
</div>