@model MedicalServicesViewModel
@{
    Layout = ViewBag.Layout;
}
@{
// Model.CurrentPage == null Проверяем в контроллере, он не должен быть null
}
<div class="type-page">
    <div class="container">
        @Html.Partial("services/breadcrumbs")

        <h1>@ViewBag.Title</h1>

        @if (Model.Nav != null)
        {
            @Html.Partial("part/nav", Model.Nav)
        }

        <div class="row">
            @switch (Model.Type)
            {
                case "":
                case null:
                    if (Model.MedicalServices != null && Model.MedicalServices.Count() > 0)
                    {
                        int t = Model.MedicalServices.Length / 2 + Model.MedicalServices.Length % 2;
                        <div class="col-md-6">
                            @for (int i = 0; i < t; i++)
                            {
                                <a class="medical_services" href="/structure">@Model.MedicalServices[i].Title</a>
                            }
                        </div>
                        <div class="col-md-6">
                            @for (int i = t; i < Model.MedicalServices.Length; i++)
                            {
                                <a class="medical_services" href="/structure">@Model.MedicalServices[i].Title</a>
                            }
                        </div>                                                
                    }
                    break;
                default:
                    <div class="col-md-12">@Html.Raw(Model.CurrentPage.Text)</div>
                    break;
            }
        </div>
    </div>
</div>