@model MedicalServicesViewModel
<div class="type-page">
    <div class="container">
        @Html.Partial("services/breadcrumbs")

        <h1>Медицинские услуги</h1>

        @Html.Partial("part/nav")

        <div class="row">
            @if (Model.MedicalServices != null)
            {
                foreach (var item in Model.MedicalServices)
                {
                    string link = "/structure";
                    <div class="col-md-6">
                        <a href="@link">@item.Title</a>
                    </div>
                }
            }
            else if (Model.Info != null)
            {
                <div class="col-md-12">@Html.Raw(Model.Info.Text)</div>
            }
            else
            {
                <div class="col-md-12"><p>Список медицинских услуг пуст.</p></div>
            }
        </div>
    </div>
</div>