@model MedicalServicesViewModel
@{
    if (Model.SitesInfo.Alias == "main")
    {
        Layout = "/views/_portal/shared/_layout.cshtml";
    }
}
@{
// Model.CurrentPage == null Проверяем в контроллере, он не должен быть null
}
<div class="type-page">
    <div class="container">
        @Html.Partial("services/breadcrumbs")

        <h1>@ViewBag.Title</h1>

        @if (Model.Nav != null)
        {
            @Html.Partial("part/nav", Model.Nav)
        }

        <div class="row">
            @switch (Model.Type)
            {
                case "":
                case null:
                    if (Model.MedicalServices != null && Model.MedicalServices.Count() > 0)
                    {
                        foreach (var item in Model.MedicalServices)
                        {
                            string link = "/structure";
                            <div class="col-md-6">
                                <a href="@link">@item.Title</a>
                            </div>
                        }
                    }
                    break;
                default:
                    <div class="col-md-12">@Html.Raw(Model.CurrentPage.Text)</div>
                    break;
            }
        </div>
    </div>
</div>