@model ContatcsViewModel
@{
    if (Model.SitesInfo.Alias == "main")
    {
        Layout = "/views/_portal/shared/_layout.cshtml";
    }
}
<div class="type-page">
    <div class="container">
        <h1>Как нас найти</h1>
        <div class="findus_list">
            @if (Model.Structures != null)
            {
                foreach (var item in Model.Structures)
                {
                    <div class="findus_item">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="findus_title">
                                    @if (!string.IsNullOrEmpty(item.Title))
                                    {
                                        if (!item.Ovp)
                                        {
                                            <a href="/structure/@item.Num">@item.Title&nbsp;›</a>
                                        }
                                        else
                                        {
                                            <a href="/structure/@item.Num/@item.Departments.First().Id">@item.Title&nbsp;›</a>
                                        }
                                    }
                                </div>
                                <div class="findus_info">
                                    @if (!string.IsNullOrEmpty(item.Adress))
                                    {
                                        <div>
                                            <strong>Адрес: </strong>@item.Adress
                                        </div>
                                    }
                                    @if (!string.IsNullOrEmpty(item.PhoneReception))
                                    {
                                        <div><strong>Телефон регистратуры: </strong>@item.PhoneReception</div>
                                    }
                                    @if (!string.IsNullOrEmpty(item.Phone))
                                    {
                                        <div><strong>Телефон приёмной: </strong>@item.Phone</div>
                                    }
                                    @if (!string.IsNullOrEmpty(item.Email))
                                    {
                                        <div>
                                            <strong>Email: </strong>
                                            <a href="mailto:@item.Email">@item.Email</a>
                                        </div>
                                    }
                                    @if (!string.IsNullOrEmpty(item.Routes))
                                    {
                                        <div>
                                            <p>&nbsp;</p>
                                            <p><b>Как добраться:</b></p>
                                            @Html.Raw(item.Routes)
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div>
                                    @*<div class="contact_info_it">
                                        <div id="map-@item.Id" class="buildmap" data-zoom="13" style="width: 100%; height: 250px;" data-height="300" data-x="@item.GeopointX.ToString().Replace(",", ".")" data-y="@item.GeopointY.ToString().Replace(",", ".")" data-title="@Model.OrgItem.Title"></div>
                                    </div>*@
                                </div>
                                <div class="">
                                    <div style=" width: 100%; height: 300px; padding: 0; margin: 0;" id="maplist"></div>
                                    <div class="geopoint" data-title="@item.Adress" data-x="@item.GeopointX.ToString().Replace(",", ".")" data-y="@item.GeopointY.ToString().Replace(",", ".")"></div>
                                    @if (item.DopAddres != null)
                                    {
                                        if (item.DopAddres.Length > 0)
                                        {
                                            foreach (var dopadres in item.DopAddres)
                                            {
                                                <div class="geopoint" data-title="@dopadres.Address" data-x="@dopadres.GeopointX.ToString().Replace(",", ".")" data-y="@dopadres.GeopointY.ToString().Replace(",", ".")"></div>                                            
                                            }
                                        }

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        
    </div>
</div>