@model ContatcsViewModel
@{
    Layout = ViewBag.Layout;
}
<div class="type-page">
    <div class="container">
        @Html.Partial("services/breadcrumbs")
        <h1>@ViewBag.Title</h1>

        <div class="findus_list">
            @if (Model.Structures != null)
        {
            foreach (var item in Model.Structures)
            {
                <div class="findus_item">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="findus_title">
                                @if (!string.IsNullOrEmpty(item.Title))
                            {
                                if (!item.Ovp)
                                {
                                    <a href="/structure/@item.Num">@item.Title&nbsp;›</a>
                            }
                            else
                            {
                                <a href="/structure/@item.Num/@item.Departments.First().Id">@item.Title&nbsp;›</a>
                        }
                    }
                            </div>
                            <div class="findus_info">


                                <div>
                                    @item.Adress<br>
                                @if (item.DopAddres != null)
                            {
                                if (item.DopAddres.Length > 0)
                                {
                                    <div>
                                        <dl>
                                            @foreach (var dopadres in item.DopAddres)
                                        {
                                            <dt>@dopadres.Title</dt>
                                            <dd>@dopadres.Address</dd>
                                    }
                                        </dl>

                                    </div>

                            }
                        }
                            </div>

                            @if (!string.IsNullOrEmpty(item.PhoneReception))
                        {
                            <div><strong>Телефон регистратуры: </strong>@item.PhoneReception</div>
                    }
                            @if (!string.IsNullOrEmpty(item.Phone))
                        {
                            <div><strong>Телефон приёмной: </strong>@item.Phone</div>
                    }
                            @if (!string.IsNullOrEmpty(item.Email))
                        {
                            <div>
                                <strong>Email: </strong>
                                <a href="mailto:@item.Email">@item.Email</a>
                            </div>
                    }

                            @if (!string.IsNullOrEmpty(item.Routes))
                        {
                            <div>
                                <p>&nbsp;</p>
                                <p><b>Как добраться:</b></p>
                                @Html.Raw(item.Routes)
                            </div>
                    }
                        </div>
                    </div>
                    <div class="col-md-4">
                        @if (!(item.Adress == null && item.DopAddres == null))
                    {
                        <div class="geo_area">
                            <div style=" width: 100%; height: 300px; padding: 0; margin: 0;" class="maplist" id="maplist-@item.Id"></div>
                            @if (item.GeopointX != 0 && item.GeopointY != 0)
                        {
                            <div class="geopoint" data-title="@item.Title" data-addres="@item.Adress" data-x="@item.GeopointX.ToString().Replace(",", ".")" data-y="@item.GeopointY.ToString().Replace(",", ".")"></div>
                    }

                            @if (item.DopAddres != null)
                        {
                            if (item.DopAddres.Length > 0)
                            {
                                foreach (var dopadres in item.DopAddres)
                                {
                                    if (dopadres.GeopointX != 0 && dopadres.GeopointY != 0)
                                    {
                                        <div class="geopoint" data-title="@dopadres.Title" data-addres="@dopadres.Address" data-x="@dopadres.GeopointX.ToString().Replace(",", ".")" data-y="@dopadres.GeopointY.ToString().Replace(",", ".")"></div>
                                }
                            }
                        }
                    }
                        </div>
                }

                    </div>
                </div>
            </div>
    }
}
        </div>

    </div>
</div>