@model MaterialsViewModel
@{Layout = "~/Areas/Admin/Views/Shared/_popUp.cshtml";}

<div>
    @if (Model != null)
    {
        <button type="submit" name="action" value="save-org-btn" class="btn btn-primary">Сохранить</button>

        <ul style="list-style-type:none">
            @for (int i = 0; i < Model.OrgsByType.Count(); i++)
            {
                <li>
                    @Html.CheckBoxFor(m => Model.OrgsByType[i].Check, new { type = "checkbox", @data_init = "false" })
                    @Html.LabelFor(m => Model.OrgsByType[i].Check, Model.OrgsByType[i].Title)
                    @Html.HiddenFor(m => Model.OrgsByType[i].Id)
                    @Html.HiddenFor(m => Model.OrgsByType[i].Sort)
                    @Html.HiddenFor(m => Model.OrgsByType[i].Title)

                    @if (Model.OrgsByType[i].Orgs != null)
                    {
                        <ul style="list-style-type:none">
                            @for (int j = 0; j < Model.OrgsByType[i].Orgs.Count(); j++)
                            {
                                <li>
                                    @Html.CheckBoxFor(m => Model.OrgsByType[i].Orgs[j].Check, new { type = "checkbox", @data_init = "false" })
                                    @Html.LabelFor(m => Model.OrgsByType[i].Orgs[j].Check, Model.OrgsByType[i].Orgs[j].Title)
                                    @Html.HiddenFor(m => Model.OrgsByType[i].Orgs[j].Id)
                                    @Html.HiddenFor(m => Model.OrgsByType[i].Orgs[j].Sort)
                                    @Html.HiddenFor(m => Model.OrgsByType[i].Orgs[j].Title)
                                </li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
        @Html.HiddenFor(m => m.Item.Id)
        @Html.HiddenFor(m => m.Item.Group)
    }
    else
    {
        <div id="log-list_title">
            <div class="alert alert-danger" role="alert">Список организаций для этой записи пуст.</div>
        </div>
    }
</div>

<script>
    $('document').ready(function () {
        $('input[type="checkbox"]').change(function (e) {
            var checked = $(this).prop("checked"),
                container = $(this).parent(),
                siblings = container.siblings();

            container.find('input[type="checkbox"]').prop({
                indeterminate: false,
                checked: checked
            });

            function checkSiblings(el) {

                var parent = el.parent().parent(),
                    all = true;

                el.siblings().each(function () {
                    return all = ($(this).children('input[type="checkbox"]').prop("checked") === checked);
                });

                if (all && checked) {

                    parent.children('input[type="checkbox"]').prop({
                        indeterminate: false,
                        checked: checked
                    });

                    checkSiblings(parent);

                } else if (all && !checked) {

                    parent.children('input[type="checkbox"]').prop("checked", checked);
                    parent.children('input[type="checkbox"]').prop("indeterminate", (parent.find('input[type="checkbox"]:checked').length > 0));
                    checkSiblings(parent);

                } else {

                    el.parents("li").children('input[type="checkbox"]').prop({
                        indeterminate: true,
                        checked: false
                    });

                }

            }

            checkSiblings(container);
        });

    });
</script>