@model SpecContactsViewModel
@{
    Layout = ViewBag.Layout;
}
@{
    // Model.CurrentPage == null Проверяем в контроллере, он не должен быть null
    PeopleModel[] model = null;
}
<div class="type-page">
    <div class="container">

        @Html.Partial("services/breadcrumbs")

        <h1>@ViewBag.Title</h1>

        @if (Model.Nav != null)
        {
            @Html.Partial("part/nav", Model.Nav)
        }

        <div class="row">
            <div class="col-md-12">
                @if (Model.SpesialitsList != null && Model.SpesialitsList.Count() > 0)
                {
                    <div class="doctorsList-block">
                        @foreach (var item in Model.SpesialitsList)
                        {
                            var port = (Settings.BaseURL == "localhost") ? ":" + Context.Request.Url.Port : "";
                            string link = string.Format("http://{0}{1}/portaldoctors/{2}", Settings.BaseURL, port, (item.People != null) ? item.People.Id.ToString() : null);
                            string photo = (item.People != null && !string.IsNullOrWhiteSpace(item.People.Photo))
                                              ? File.Exists(Server.MapPath(item.People.Photo))
                                                  ? item.People.Photo : "/Content/img/no_avatar.png"
                                              : "/Content/img/no_avatar.png";


                            string fio = (item.People != null) ? item.People.FIO : null;
                            <div class="row">
                                @if (item.Orgs != null && item.Orgs.Count() > 0)
                                {
                                    foreach (var org in item.Orgs)
                                    {
                                        <div class="col-md-1">
                                            @if (org != null && org.Logo != null && !string.IsNullOrWhiteSpace(org.Logo.Url) && File.Exists(Server.MapPath(org.Logo.Url)))
                                            {
                                                <img src="@org.Logo.Url" alt="@org.Title" title="@org.Title" />
                                            }
                                        </div>
                                        <div class="col-md-9">
                                            @if (!string.IsNullOrWhiteSpace(org.Title))
                                            {
                                                <div>
                                                    @if (!string.IsNullOrWhiteSpace(org.Url))
                                                    {
                                                        string url = string.Format("http://{0}", org.Url);
                                                        <strong>
                                                            <a target="_blank" href="@url">@org.Title</a>
                                                        </strong>
                                                    }
                                                    else
                                                    {
                                                        <strong>@org.Title</strong>
                                                    }
                                                </div>
                                            }
                                            @if (!string.IsNullOrWhiteSpace(org.Address))
                                            {
                                                <div>
                                                    <strong>Адрес: </strong>@org.Address
                                                </div>
                                            }
                                            @if (!string.IsNullOrWhiteSpace(org.Phone))
                                            {
                                                <div>
                                                    <strong>Телефон: </strong>@org.Phone
                                                </div>
                                            }
                                            @if (!string.IsNullOrWhiteSpace(org.Fax))
                                            {
                                                <div>
                                                    <strong>Факс: </strong>@org.Fax
                                                </div>
                                            }
                                            @if (!string.IsNullOrWhiteSpace(org.PhoneReception))
                                            {
                                                <div>
                                                    <strong>Телефон регистратуры: </strong>@org.PhoneReception
                                                </div>
                                            }
                                            @if (!string.IsNullOrWhiteSpace(org.Email))
                                            {
                                                <div>
                                                    <strong>E-mail: </strong><a href="mailto:@org.Email">@org.Email</a>
                                                </div>
                                            }
                                            @if (!string.IsNullOrWhiteSpace(org.ExtUrl))
                                            {
                                                <div>
                                                    <strong>Сайт: </strong><a href="http://@org.ExtUrl" target="_blank">@org.ExtUrl</a>
                                                </div>
                                            }
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="col-md-10"></div>
                                }

                                <div class="col-md-2">
                                    <img class="img-circle img-person-list sm-align" src="@photo" alt="@fio" title="@fio" /><br />
                                    <a class="adminlist_name" href="@link">@fio</a>
                                </div>
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="doctorsList-block">
                        <p class="noItems">Список пуст ...</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
