@model LPUViewModel
@{
    Layout = ViewBag.Layout;
}
@{
    string title = ViewBag.TypeTitle;
}
<div class="type-page">
    <div class="">
        @Html.Partial("services/breadcrumbs")

        <h1>@ViewBag.Title</h1>

        @if (Model.Nav != null)
        {
            @Html.Partial("part/nav", Model.Nav)
        }

        
        @if (!string.IsNullOrWhiteSpace(title))
        {
            <h2>@title</h2>
            if (Model.OrgList == null)
            {
                <p>По данным критериям организации не обнаружены</p>
            }

        }
        @switch (Model.Type)
        {
            case "typelist":
                if (Model.OrgTypes != null)
                {   
                    int to = Model.OrgTypes.Length / 2 + Model.OrgTypes.Length % 2;                    
                    <div class="row">                        
                        <div class="col-md-6">
                                @for (int i = 0; i < to; i++)
                                {
                                    string link = "/lpu?tab=typelist&id=" + Model.OrgTypes[i].Id;
                                    <a class="medical_services" href="@link">@Model.OrgTypes[i].Title</a>
                                }
                        </div>
                        <div class="col-md-6">
                                @for (int i = to; i < Model.OrgTypes.Length; i++)
                                {
                                    string link = "/lpu?tab=typelist&id=" + Model.OrgTypes[i].Id;
                                    <a class="medical_services" href="@link">@Model.OrgTypes[i].Title</a>
                                }
                        </div>                    
                    </div>
                }
                break;
                case "affiliation":
                    if (Model.DepartmentAffiliations != null)
                    {
                        int td = Model.DepartmentAffiliations.Length / 2 + Model.DepartmentAffiliations.Length % 2;
                            <div class="row">
                                 <div class="col-md-6">
                                     @for (int i = 0; i < td; i++)
                                     {
                                         string link = "/lpu?tab=affiliation&id=" + Model.DepartmentAffiliations[i].Key;
                                         <a class="medical_services" href="@link">@Model.DepartmentAffiliations[i].Value</a>
                                     }                                                
                                 </div>
                                 <div class="col-md-6">
                                     @for (int i = td; i < Model.DepartmentAffiliations.Length; i++)
                                     {
                                         string link = "/lpu?tab=affiliation&id=" + Model.DepartmentAffiliations[i].Key;
                                         <a class="medical_services" href="@link">@Model.DepartmentAffiliations[i].Value</a>
                                     }
                                 </div>
                             </div>
                        }
                        break;
                        case "services": 
                            if (Model.MedicalServices != null)
                            {                    
                                int t = Model.MedicalServices.Length / 2 + Model.MedicalServices.Length % 2;                    
                                <div class="row">                                    
                                    <div class="col-md-6">
                                        @for (int i = 0; i < t; i++)
                                        {
                                            string link = "/lpu?tab=services&id=" + Model.MedicalServices[i].Id;
                                            <a class="medical_services" href="@link">@Model.MedicalServices[i].Title</a>
                                        }
                                    </div>
                                    <div class="col-md-6">
                                        @for (int i = t; i < Model.MedicalServices.Length; i++)
                                        {
                                            string link = "/lpu?tab=services&id=" + Model.MedicalServices[i].Id;
                                            <a class="medical_services" href="@link">@Model.MedicalServices[i].Title</a>
                                        }
                                    </div>
                                </div>
                             }
                        break;
                        

                }

                @if (Model.OrgList != null)
                {
            <div class="row">
                <div class="col-md-12">
                    @foreach (var item in Model.OrgList)
                    {
                        <div class="row org_item">
                            <div class="col-md-2 col-sm-3 col-xs-5">
                                @if (item.Logo != null && !string.IsNullOrWhiteSpace(item.Logo.Url) && File.Exists(Server.MapPath(item.Logo.Url)))
                                {
                                    <img src="@item.Logo.Url" alt="@item.Title" />
                                }
                            </div>

                            <div class="col-md-8 col-sm-6 col-xs-7">
                                @if (!string.IsNullOrWhiteSpace(item.Title))
                                {
                                    <div>
                                        <h4>
                                            @if (!string.IsNullOrWhiteSpace(item.Link))
                                            {
                                                string link = string.Format("http://{0}", item.Link);
                                                <strong>
                                                    <a target="_blank" href="http://@item.ExtUrl">@item.Title</a>
                                                </strong>
                                            }
                                            else
                                            {
                                                <strong>@item.Title</strong>
                                            }
                                        </h4>
                                    </div>
                                }
                                @if (!string.IsNullOrWhiteSpace(item.Address))
                                {
                                    <div>
                                        <strong>Адрес: </strong>@item.Address
                                    </div>
                                }
                                @if (!string.IsNullOrWhiteSpace(item.Phone))
                                {
                                    <div>
                                        <strong>Телефон: </strong>@item.Phone
                                    </div>
                                }
                                @if (!string.IsNullOrWhiteSpace(item.Fax))
                                {
                                    <div>
                                        <strong>Факс: </strong>@item.Fax
                                    </div>
                                }
                                @if (!string.IsNullOrWhiteSpace(item.PhoneReception))
                                {
                                    <div>
                                        <strong>Телефон регистратуры: </strong>@item.PhoneReception
                                    </div>
                                }
                                @if (!string.IsNullOrWhiteSpace(item.Email))
                                {
                                    <div>
                                        <strong>E-mail: </strong><a href="mailto:@item.Email">@item.Email</a>
                                    </div>
                                }
                                @if (!string.IsNullOrWhiteSpace(item.ExtUrl))
                                {
                                    <div>
                                        <strong>Сайт: </strong><a href="http://@item.ExtUrl" target="_blank">@item.ExtUrl</a>
                                    </div>
                                }
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                @if (item.Leader != null && item.Leader.Name != null)
                                {
                                    string photo = (item.Leader.Photo != null && !string.IsNullOrWhiteSpace(item.Leader.Photo.Url))
                                          ? File.Exists(Server.MapPath(item.Leader.Photo.Url))
                                              ? item.Leader.Photo.Url : "/Content/img/no_avatar.png"
                                          : "/Content/img/no_avatar.png";

                                    <img class="img-circle img-person-list sm-align" src="@photo" alt="@item.Leader.Surname" />
                                    <br />
                                    <div class="org_item_post">@item.Leader.Post</div>

                                    if (item.Leader.PeopleId.HasValue)
                                    {
                                        <a target="_blank" href="/portaldoctors/@item.Leader.PeopleId">@item.Leader.Surname @item.Leader.Name @item.Leader.Patronymic</a>
                                    }
                                    else
                                    {
                                        <span>@item.Leader.Surname @item.Leader.Name @item.Leader.Patronymic</span>
                                    }

                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
                }

    </div>
</div>
