@model LPUViewModel

<div class="container">
    @Html.Partial("services/breadcrumbs")

    <h1>ЛПУ Чувашии</h1>

    <h2>@ViewBag.TypeTitle</h2>

    @if (Model.OrgList != null)
    {
        <div class="row">
            @foreach (var item in Model.OrgList)
            {
                if (!string.IsNullOrWhiteSpace(item.Title))
                {
                    <div class="col-md-12">
                        <h4><strong>@item.Title</strong></h4>
                    </div>
                }
                if (!string.IsNullOrWhiteSpace(item.Address))
                {
                    <div class="col-md-12">
                        <strong>Адрес: </strong>@item.Address
                    </div>
                }
                if (!string.IsNullOrWhiteSpace(item.Phone))
                {
                    <div class="col-md-12">
                        <strong>Телефон: </strong>@item.Phone
                    </div>
                }
                if (!string.IsNullOrWhiteSpace(item.Fax))
                {
                    <div class="col-md-12">
                        <strong>Факс: </strong>@item.Fax
                    </div>
                }
                if (!string.IsNullOrWhiteSpace(item.PhoneReception))
                {
                    <div class="col-md-12">
                        <strong>Телефон регистратуры: </strong>@item.PhoneReception
                    </div>
                }
                if (!string.IsNullOrWhiteSpace(item.Email))
                {
                    <div class="col-md-12">
                        <strong>E-mail: </strong><a href="mailto:@item.Email">@item.Email</a>
                    </div>
                }
            }
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-md-12">
                <p>Организаций такого типа не найдено</p>
            </div>
        </div>
    }

</div>