@model MainViewModel

@if (Model.UserResolution.Read)
{
    <div class="content">
        <h1>@ViewBag.Title</h1>
        <ol class="breadcrumb">
            <li><a href="/admin/sitemap/">Главная</a></li>
        </ol>
        <div class="site_map_list">
            @*@if (Model.List !=null)
            {*@
                    <div class="TreeBranch Sortable ui-sortable" data-service="/SuteMap/Service/ChangePermit.ashx?group=SiteMap">
                        @*@foreach (cmsSiteMapModel Item in Model.List)
                        {*@
                            <div class="TreeItem ui-sortable-handle" data-id="@*@Item.id*@">
                                <div class="TreeLink">
                                    @*@if (@Item.Type == "folder")
                                    {
                                        if (Model.UserResolution.Write){<a title="Добавить элемент в эту папку" class="treeBtn New" href="/admin/SiteMap/create/@Guid.NewGuid()?path=@Item.Path@Item.Alias/"></a>}
                                        <span title="/admin/SiteMap/OpenFolder?path=@Item.Path@Item.Alias/" data-path="@Item.Path@Item.Alias/" class="treeIcon @Item.Type"></span>
                                        @Html.ActionLink(@Item.Title, "Edit", new { area = "Admin", controller = "sitemap", id = @Item.id }, new { @class = "treeUrl" })
                                    }
                                    else
                                    {
                                        <span class="treeIcon @Item.Type"></span>                                
                                        @Html.ActionLink(@Item.Title, "Edit", new { area = "Admin", controller = "sitemap", id = @Item.id }, new { @class = "treeUrl" })
                                    }*@
                                </div>
                            </div>
                        @*}*@
                    </div>
                @*}*@
            </div>
       

    </div>

    <div class="dop_info-block">
        <div class="dop-caption">Меню</div>
        @*@Html.Partial("Partial/Filter", model )*@
    </div>

    <div class="buttons">
        @if (Model.UserResolution.Write)
        {
            @*<button type="submit" name="action" value="insert-btn" class="button icon-create">Создать</button>*@
        }
    </div>
}
else
{ <p>У вас недостаточно прав.</p>}

