@model StructureViewModel
@{
    if (Model.SitesInfo.Alias == "main")
    {
        Layout = "/views/_portal/shared/_layout.cshtml";
    }
}
<div class="type-page">
@Html.Partial("services/breadcrumbs")
<h1>@Model.DepartmentItem.Title</h1>

<div class="structur">
    <div class="row">
        <div class="col-md-3 col-md-offset-1 col-md-push-8">
            <div class="boss ">
                @Html.Partial("part/boss_list")
                <a class="btn_reg ti-user" href="/doctors/?group=@Model.DepartmentItem.Id">все сотрудники</a>
            </div>
        </div>
        <div class="col-md-8 col-md-pull-4">
            @if (Model.DepartmentItem.Phones != null)
            {
                <h3>Телефоны</h3>
                <div class="structur_phons">
                    <table class="table table-condensed table-responsive">
                        @foreach (var item in Model.DepartmentItem.Phones)
                        {
                            <tr>
                                <td>@item.Label</td>
                                <td>@item.Value</td>
                            </tr>
                        }
                    </table>
                </div>                
            }
            <div>@Html.Raw(Model.DepartmentItem.Text)</div>
        </div>
        
    </div>
</div>
</div>


