@model StructureViewModel
@{
    if (Model.SitesInfo.Alias == "main")
    {
        Layout = "/views/_portal/shared/_layout.cshtml";
    }
}
<div class="type-page">
@Html.Partial("services/breadcrumbs")
<h1>@Model.DepartmentItem.Title</h1>

<div class="structur">
    <div class="row">
        <div class="col-md-8">
            @if (Model.DepartmentItem.Phones != null)
            {
                @*<dl class="dl-horizontal structur_phons">
                    @foreach (var item in Model.DepartmentItem.Phones)
                    {
                        <dt>@item.Label</dt>
                        <dd>@item.Value</dd>
                    }
                </dl>*@
                <h3>Телефоны</h3>
                <div class="structur_phons">
                    <table class="table table-condensed">
                        @foreach (var item in Model.DepartmentItem.Phones)
                        {
                            <tr>
                                <td>@item.Label</td>
                                <td>@item.Value</td>
                            </tr>
                        }
                    </table>
                </div>                
            }
            <div>@Html.Raw(Model.DepartmentItem.Text)</div>
        </div>
        <div class="col-md-3 col-md-push-1">
            <div class="boss pull-right">
                <div class="person_right">
                    @Html.Partial("part/boss_list")
                    <a class="btn_reg ti-user" href="/doctors/?group=@Model.DepartmentItem.Id">все сотрудники</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


