@model HomePageViewModel
@{
    Layout = "/views/_portal/shared/_layout.cshtml";
    var news = (Model.Materials != null) ? Model.Materials.Where(w => w.GroupAlias.Equals("news")) : null;
}


@*верхний модуль*@
<div class="news-module">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            @if (Model.ModuleEvents != null && Model.ModuleEvents.FirstOrDefault() != null)
            {
                var ev = Model.ModuleEvents.FirstOrDefault();

                string link = "/press/" + ev.Date.Year + "/" + ev.Date.Month + "/" + ev.Date.Day + "/" + ev.Alias;
                string photo = !string.IsNullOrEmpty(ev.Photo) ? ev.Photo : "~/Content/img/temporal.jpg";

                <div class="event-item-module">
                    <div class="event-item-module-opacity top-op">
                        <div class="module-material-item-date">
                            <div class="module-material-item-day">@ev.Date.Day.ToString()</div>
                            <div class="module-material-item-otherdate">
                                <div>@ev.Date.ToString("MMMM")</div>
                                <div>@ev.Date.ToString("yyyy")</div>
                            </div>
                        </div>
                        <a href="/press/@ev.GroupAlias" class="module-material-item-group-link">@ev.GroupName</a>
                    </div>
                    <a href="@link">
                        <img src="@photo" alt="@ev.Title" />
                    </a>
                    <div class="event-item-module-opacity bottom-op">
                        <a href="@link">@ev.Title</a>
                    </div>
                </div>
            }
        </div>

        <div class="col-md-3 col-sm-6 flank-paddings-15">
            <a class="linker linker__top" href="https://reg.med.cap.ru/Default.aspx" target="_blank">
                <div class="linker_text linker_reg">
                    <div class="linker_text_top">Электронная регистратура</div>
                    <div class="linker_text_bottom">Запишитесь на прием к врачу online</div>
                </div>
                <img src="~/Content/portal/img/e-reg.jpg" />
            </a>
            <a class="linker linker__bottom" href="/vote">
                <img src="~/Content/portal/img/your-opinion.jpg" />
                <div class="linker_text  linker_check">
                    <div class="linker_text_top">Нам важно ваше мнение!</div>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 flank-paddings-15">
            <a class="linker linker__bottom" href="/kalendarj">
                <img src="~/Content/portal/img/event_calendar.jpg" />
                <div class="linker_text linker_calendar">
                    <div class="linker_text_top">Календарь событий</div>
                </div>
            </a>

            <a class="linker linker__top" href="/portalgssites">
                <div class="linker_text linker_online">
                    <div class="linker_text_top">Консультация online</div>
                    <div class="linker_text_bottom">Задайте вопрос главным специалистам Республики</div>
                </div>
                <img src="~/Content/portal/img/online-consultation.jpg" />
            </a>
        </div>
    </div>
</div>

@*модуль новостей*@


<div class="news-module">
    <p class="module-title">Пресс-центр<span class="ti-folder"></span><a class="link-to-archive" href="/press">Архив</a></p>
    <div class="row">

        <div class="col-md-3 col-sm-6">
            @if (Model.ModuleAnnouncement.First() != null)
            {
                string link = "/press/" + Model.ModuleAnnouncement.First().Date.Year + "/" + Model.ModuleAnnouncement.First().Date.Month + "/" + Model.ModuleAnnouncement.First().Date.Day + "/" + Model.ModuleAnnouncement.First().Alias;
                <div class="module-material-item">
                    <div class="module-material-item-date">
                        <div class="module-material-item-day">@Model.ModuleAnnouncement.First().Date.Day.ToString()</div>
                        <div class="module-material-item-otherdate">
                            <div>@Model.ModuleAnnouncement.First().Date.ToString("MMMM")</div>
                            <div>@Model.ModuleAnnouncement.First().Date.ToString("yyyy")</div>
                        </div>
                    </div>
                    <a class="module-material-item-group-link" href="/press/@Model.ModuleAnnouncement.First().GroupAlias">@Model.ModuleAnnouncement.First().GroupName</a>
                    <a class="module-material-title" href="@link">@Model.ModuleAnnouncement.First().Title</a>
                </div>
            }

            @if (Model.ModuleNewsChuv != null)
            {

                string link = "/press/" + Model.ModuleNewsChuv.Date.Year + "/" + Model.ModuleNewsChuv.Date.Month + "/" + Model.ModuleNewsChuv.Date.Day + "/" + Model.ModuleNewsChuv.Alias;

                <div class="module-material-item">
                    <div class="module-material-item-date">
                        <div class="module-material-item-day">@Model.ModuleNewsChuv.Date.Day.ToString()</div>
                        <div class="module-material-item-otherdate">
                            <div>@Model.ModuleNewsChuv.Date.ToString("MMMM")</div>
                            <div>@Model.ModuleNewsChuv.Date.ToString("yyyy")</div>
                        </div>
                    </div>
                    <a class="module-material-item-group-link" href="/press/new-in-medicine/?smitype=chuvashia">Новое в медицине Чувашии</a>
                    <a class="module-material-title" href="@link">@Model.ModuleNewsChuv.Title</a>
                </div>
            }
        </div>

        <div class="col-md-3 col-sm-6">
            @if (Model.ModuleNewsWorld != null)
            {

                string link = "/press/" + Model.ModuleNewsWorld.Date.Year + "/" + Model.ModuleNewsWorld.Date.Month + "/" + Model.ModuleNewsWorld.Date.Day + "/" + Model.ModuleNewsWorld.Alias;

                <div class="module-material-item">
                    <div class="module-material-item-date">
                        <div class="module-material-item-day">@Model.ModuleNewsWorld.Date.Day.ToString()</div>
                        <div class="module-material-item-otherdate">
                            <div>@Model.ModuleNewsWorld.Date.ToString("MMMM")</div>
                            <div>@Model.ModuleNewsWorld.Date.ToString("yyyy")</div>
                        </div>
                    </div>
                    <a class="module-material-item-group-link" href="/press/new-in-medicine/?smitype=world">Новое в медицине мира</a>
                    <a class="module-material-title" href="@link">@Model.ModuleNewsWorld.Title</a>
                </div>
            }

            @if (Model.ModuleNewsRus != null)
            {

                string link = "/press/" + Model.ModuleNewsRus.Date.Year + "/" + Model.ModuleNewsRus.Date.Month + "/" + Model.ModuleNewsRus.Date.Day + "/" + Model.ModuleNewsRus.Alias;

                <div class="module-material-item">
                    <div class="module-material-item-date">
                        <div class="module-material-item-day">@Model.ModuleNewsRus.Date.Day.ToString()</div>
                        <div class="module-material-item-otherdate">
                            <div>@Model.ModuleNewsRus.Date.ToString("MMMM")</div>
                            <div>@Model.ModuleNewsRus.Date.ToString("yyyy")</div>
                        </div>
                    </div>
                    <a class="module-material-item-group-link" href="/press/new-in-medicine/?smitype=russia">Новое в медицине России</a>
                    <a class="module-material-title" href="@link">@Model.ModuleNewsRus.Title</a>
                </div>
            }
        </div>

        <div class="col-md-6">
            @if (Model.ImportantMaterials != null)
            {
                var news_it = Model.ImportantMaterials;

                string link = "/press/" + news_it.Date.Year + "/" + news_it.Date.Month + "/" + news_it.Date.Day + "/" + news_it.Alias;
                string photo = !string.IsNullOrEmpty(news_it.Photo) ? news_it.Photo : "~/Content/img/temporal.jpg";

                <div class="event-item-module">
                    <div class="event-item-module-opacity top-op">
                        <div class="module-material-item-date">
                            <div class="module-material-item-day">@news_it.Date.Day.ToString()</div>
                            <div class="module-material-item-otherdate">
                                <div>@news_it.Date.ToString("MMMM")</div>
                                <div>@news_it.Date.ToString("yyyy")</div>
                            </div>
                        </div>
                        <a href="" class="module-material-item-group-link"></a>
                    </div>
                    <a href="@link">
                        <img src="@photo" alt="@news_it.Title" />
                    </a>
                    <div class="event-item-module-opacity bottom-op">
                        <a href="@link">@news_it.Title</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@*конец модуля новостей*@
@*модуль полезные ресурсы*@
<div class="row60">
    <div class="col-md-12">
        @if (Model.BenifitBanners != null)
        {
            <div class="row">
                <div class="imglink-benefit-block module-main-page">
                    <p class="module-title">Полезные ресурсы<span class="ti-folder"></span><a class="link-to-archive" href="#">Архив</a></p>
                    <div class="ling_img_on carousel slide">
                        <div class="carousel-inner" data-count="4">
                            @foreach (var item in Model.BenifitBanners)
                            {
                                string link = "/redirect/link/" + item.Id;

                                string title = item.Title;
                                if (title.Length > 70)
                                {
                                    title = title.Substring(0, 70);
                                }

                                string benefitbanerfoto = (item.Photo != null && !string.IsNullOrWhiteSpace(item.Photo.Url))
                                         ? File.Exists(Server.MapPath(item.Photo.Url))
                                             ? item.Photo.Url : "/Content/img/nophoto.jpg"
                                         : "/Content/img/nophoto.jpg";

                                <div class="linkimg_item col-md-3 col-sm-6">
                                    <a href="@link">
                                        <div class="imglink-item">
                                            @if (item.Photo != null && !string.IsNullOrEmpty(item.Photo.Url))
                                            {
                                                <img class="imglink-pic" src="@benefitbanerfoto" />
                                            }
                                            <div class="imglink-title">
                                                @Html.Raw(title)
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                        </div>
                        @if (Model.BenifitBanners.Count() > 4)
                        {
                            <div class="imglink-controlls">
                                <a data-slide="prev" class="ti-angle-left prev"></a>
                                <a data-slide="next" class="ti-angle-right next"></a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@*конец модуля полезные ресурсы*@
@*карта сайта плиткой*@
<div class="container">
    @if (Model.SitemapPlate != null && Model.SitemapPlate.Count() > 0)
    {
        <div class="sitemap-plates-block">
            <div class="row">
                @foreach (var item in Model.SitemapPlate)
                {
                    string fullPath = "/";

                    if (!string.IsNullOrEmpty(item.Url))
                    {
                        fullPath = item.Url;
                    }
                    else if (item.FrontSection.ToLower().Equals("page"))
                    {
                        fullPath = item.Path + item.Alias;
                    }
                    else
                    {
                        fullPath = "/" + item.FrontSection;
                    }
                    <div class="col-sm-6 col-md-3">
                        @if (!string.IsNullOrWhiteSpace(item.Photo.Url))
                        {
                            <a href="@fullPath" class="sitemap-plate sitemap-plate-image" title="@item.Title">
                                <img src="@item.Photo.Url" alt="@item.Title" />
                            </a>
                        }
                        else
                        {
                            <a href="@fullPath" class="sitemap-plate">@item.Title</a>
                        }
                    </div>
                }
            </div>
        </div>
    }
</div>
@*конец карты сайта плиткой*@

<div class="row60 portal_lk_wr">
    <div class="col-md-12">
        <div class="row">
            <div class="portal_lk">
                <div class="col-md-3 col-sm-6">
                    <a href="/teleradiosyuzheti">
                        <img src="~/Content/portal/img/tv-radio-plot.jpg" />
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="/press/smi-about-medicin">
                        <img src="~/Content/portal/img/smi-for-med-chuvashia.jpg" />
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="/obzor-pressi">
                        <img src="~/Content/portal/img/browse_press.jpg" />
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://www.youtube.com/channel/UCjpuskOiIp7Ns8CY2bobP0g/featured?view_as=subscriber" target="_blank">
                        <img src="~/Content/portal/img/youtube-med-chuv.jpg" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>