@model NewsViewModel
@{
    Layout = ViewBag.Layout;

    string _allactiv = (String.IsNullOrEmpty(ViewBag.FilterCategory)) ? "class=active" : "";
    string classcontainer = (Model.SitesInfo.Alias != "main") ? "container" : "";
}
<div class="type-page">
    <div class="@classcontainer">
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("services/breadcrumbs")
                <h1>@ViewBag.Title</h1>
                @if (Model.Item != null)
                {
                    @Html.Partial("part/Item")
                }
                else
                {
                    <ul class="nav nav-pills tabs">
                        <li @_allactiv><a href="/press">Все</a></li>
                        @if (Model.Group != null && Model.Group.Count() > 0)
                        {
                            foreach (var item in Model.Group)
                            {
                                string _class = (item.Alias == ViewBag.FilterCategory) ? "class=active" : "";
                                <li @_class><a href="/press/@item.Alias">@item.Title</a></li>
                            }
                        }
                    </ul>

                    <br /><br />
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1 col-md-push-8">
                            @Html.Partial("Part/Filter")
                        </div>
                        <div class="col-md-8 col-md-pull-4">
                            <div class="news_list">
                                @if (Model.List != null)
                                {
                                    if (Model.List.Data != null)
                                    {
                                        foreach (var item in Model.List.Data)
                                        {
                                            <div class="col-md-12">
                                                <div class="item_news">
                                                    <div class="news-list_date"><span>@item.Date.ToString("HH:mm | dd.MM.yyyy")</span></div>
                                                    <a class="news-list_title" href="/press/@item.Year/@item.Month/@item.Day/@item.Alias">@Html.Raw(item.Title)</a>
                                                </div>
                                            </div>
                                        }
                                    }
                                    
                                    //Html.RenderAction("Pager", "Service", new { @Model = Model.List.Pager });
                                    if (Model.List != null && Model.List.Pager != null)
                                    {
                                        @Html.Partial("Part/Pager", Model.List.Pager)
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>