@model PageViewModel
@{
    ViewBag.Version = "1.0.1";
    string currentYear = DateTime.Now.Year.ToString();
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="@ViewBag.keywords">
    <meta name="description" content="@ViewBag.description">
    <title> @ViewBag.Title - @Model.SitesInfo.Title</title>
    <link href="/Content/decor/chuvashia/favicon.ico" rel="shortcut icon">
    <link href="/Content/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">    
    <link href="~/Content/plugins/select2/css/select2.css" rel="stylesheet">
    <link href="~/Content/plugins/select2/css/select2_custom.css" rel="stylesheet">

    <link href="~/Content/css/common.css" rel="stylesheet" />
    <link href="~/Content/css/theme/first.css" rel="stylesheet" />

    
    @*<link href="~/Content/decor/first/main.css" rel="stylesheet" />
    <link href="~/Content/decor/first/color.css" rel="stylesheet" />*@    

    <script type="text/javascript" src="/Content/plugins/jquery/jquery.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
    <script src="~/Content/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/plugins/jquery/jquery.ui.js"></script>
    <script src="~/Content/plugins/jquery/jquery.mask.min.js"></script>
    <script src="~/Content/plugins/select2/select2.min.js"></script>    
    <script src="~/Content/js/script.js"></script>
</head>

<body>
    <!-- шапка -->
    <div class="container">
        <!-- название сайта -->
        <div class="head">
            <div class="row">
                <div class="col-md-8">
                    <a href="/" class="media">
                        
                            @if (Model.SitesInfo.Logo.Url != null)
                            {
                                <div class="media-left">
                                    <img src="@Model.SitesInfo.Logo.Url" />
                                </div>                                    
                            }

                                    <div class="media-body">
                                        @if (Model != null && Model.SitesInfo != null)
                                        {
                                            <h4 class="media-heading">
                                                @Model.SitesInfo.LongTitle
                                            </h4>
                                        }
                                    </div>
</a>
                </div>
                <div class="col-md-4 right_section">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/mapsite">
                                <span class="ti-layers-alt top-icon"></span>
                                Карта сайта
                            </a>
                        </li>
                        <li>
                            <a href="/rss">
                                <span class="ti-rss-alt top-icon"></span>
                                RSS
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="http://www.med.cap.ru/">
                                <span class="ti-new-window top-icon"></span>
                                Медицинский портал
                            </a>
                        </li>
                    </ul>
                    <div class="float-right spec-version-link">
                        <a href="/spec">
                            <span class="spec-info">Aa</span>
                            Для слабовидящих
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <!-- конец названия сайта -->
        <!-- главное меню -->
        <div class="main-menu">
            @if (Model != null && Model.SiteMapArray != null && Model.SiteMapArray.Count() > 0)
            {
                var mainMenu = Model.SiteMapArray
                    .Where(w => w.MenuAlias.Equals("main"))
                    .OrderBy(o => o.MenuSort)
                    .Select(s => new
                    {
                        Path = s.Path,
                        Alias = s.Alias,
                        Title = s.Title,
                        FrontSection = s.FrontSection,
                        Url = s.Url
                    });
                <ul class="nav navbar-nav navbar-left">
                    @foreach (var item in mainMenu)
                    {
                        string fullPath = "/";

                        if (!string.IsNullOrEmpty(item.Url))
                        {
                            fullPath = item.Url;
                        }
                        else if (item.FrontSection.ToLower().Equals("page"))
                        {
                            fullPath = item.Path + item.Alias;
                        }
                        else
                        {
                            fullPath = "/" + item.FrontSection;
                        }

                        <li>
                            <a href="@fullPath">@item.Title</a>
                        </li>
                    }
                </ul>
            }
            <ul class="nav navbar-nav navbar-right">
                @*<li><a href="">EN</a></li>*@
                <li><a href="" class="icon-search"></a></li>
            </ul>
        </div>
        <!-- конец главного меню -->
    </div>
    <!-- конец шапки -->
    <!-- контентная часть -->
    @RenderBody()
    <!-- конец контентной части -->

    <div class="container">
        <!-- нижние баннеры -->
        @if (Model != null && Model.BannerArray != null && Model.BannerArray.Count() > 0)
        {
            var bannerBottom = Model.BannerArray
                        .Where(w => w.SectionAlias.Equals("text"))
                        .OrderBy(o => o.Sort)
                        .Select(s => new
                        {
                            Title = s.Title,
                            Url = s.Photo.Url,
                            Text = s.Text
                        });

            <div class="row bottom-banners">
                @foreach (var item in bannerBottom)
                {
                    <div class="col-sm-2">
                        <a href="@item.Url">
                            <div class="bottom-banner-item">
                                <div class="bottom-banner-inner">@item.Title</div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        }
        <!-- конец нижних баннеров -->
        <!-- подвал -->
        <div class="footer">
            <div class="row">
                <div class="col-md-8">
                    <div class="media">
                        <div class="media-left">
                            @if (Model.SitesInfo.Logo != null)
                            {
                                <img class="logo-small" src="@Model.SitesInfo.Logo.Url" />
                            }
                        </div>
                        @if (Model != null && Model.SitesInfo != null)
                        {
                            <div class="media-body">
                                @Model.SitesInfo.LongTitle
                                <div class="small_address">
                                    <div>@Model.SitesInfo.Adress</div>
                                    <div>@Model.SitesInfo.Phone</div>
                                    <div><a href="@Model.SitesInfo.Site">@Model.SitesInfo.Site</a></div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <form>
                        <input class="search-form" type="text" placeholder="Поиск по сайту" value="" />
                        <a href="" class="icon-search bottom-search"></a>
                    </form>
                    <ul class="nav navbar-nav bottom_menu navbar-left">
                        <li>
                            <a href="">
                                <span class="ti-layers-alt top-icon"></span>
                                Карта сайта
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="ti-rss-alt top-icon"></span>
                                RSS
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span class="ti-new-window top-icon"></span>
                                Медицинский портал
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav versions navbar-left">
                        @*<li><a href="">English version</a></li>*@
                        <li>
                            <a href="">
                                <span class="spec-info">Aa</span>
                                Для слабовидящих
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 metrica-block">
                    <div class="float-left">
                        <div class="metrica">
                            <img src="~/Content/img/metrica1.png" />
                        </div>
                        <div class="metrica">
                            <img src="~/Content/img/metrica2.png" />
                        </div>
                    </div>
                    <div class="float-right social_network_list">
                       @if (Model != null && Model.SitesInfo != null)
                       {
                            if (!string.IsNullOrEmpty(Model.SitesInfo.Facebook))
                            {
                                <a href="@Model.SitesInfo.Facebook" class="icon-facebook-4"></a>
                            }
                            if (!string.IsNullOrEmpty(Model.SitesInfo.Vk))
                            {
                                <a href="@Model.SitesInfo.Vk" class="icon-vk"></a>
                            }
                            if (!string.IsNullOrEmpty(Model.SitesInfo.Instagramm))
                            {
                                <a href="@Model.SitesInfo.Instagramm" class="icon-instagramm"></a>
                            }
                            if (!string.IsNullOrEmpty(Model.SitesInfo.Odnoklassniki))
                            {
                                <a href="@Model.SitesInfo.Odnoklassniki" class="icon-odnoklassniki"></a>
                            }
                            if (!string.IsNullOrEmpty(Model.SitesInfo.Twitter))
                            {
                                <a href="@Model.SitesInfo.Twitter" class="icon-twitter"></a>
                            }
                       }
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="row">
                <div class="col-md-6">
                    &copy;&nbsp;2009-@currentYear&nbsp;@ViewBag.MedCap<br />
                    @ViewBag.Quote
                </div>
                <div class="col-md-4">
                    @ViewBag.Concept<br />
                    @ViewBag.Coordination
                </div>
                <div class="col-md-2">
                    Конструктор сайтов:
                    <a href="#">
                        <div class="asoft_logo"></div>
                    </a>
                </div>
            </div>
        </div>
        <!-- конец подвала -->
    </div>    


</body>
</html>