@model VoteViewModel
@{
    Layout = ViewBag.Layout;
}
<div class="type-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("services/breadcrumbs")

                <h1>@ViewBag.Title</h1>

                @Html.Partial("/Views/shared/part/childtabs.cshtml", Model)

                @if (Model.Item == null)
                {
                    @Html.Partial("/Views/vote/List.cshtml")
                }
                else
                {
                    @Html.Partial("/Views/vote/Item.cshtml")
                }
            </div>
        </div>
    </div>
</div>