@model VoteViewModel
@{
    Layout = null;
}
@if (Model.VoteList != null && Model.VoteList.Data != null)
{
    if (ViewBag.VoteType == "archive")
    {
        <a href="/vote" class="btn btn-default ">Назад</a>
    }
    else
    {
        <a href="/vote?type=archive" class="btn btn-default " >Архив</a>
    }

    foreach (var item in Model.VoteList.Data)
    {
        string date = item.DateStart.ToString("dd.MM.yyyy");
        date += item.DateEnd != null
            ? " — " + Convert.ToDateTime(item.DateEnd).ToString("dd.MM.yyyy") : string.Empty;
        <div class="vote_item_wr">
            <h3>
                @if (item.ShowStatistic)
                {
                    <a href="#@item.Id" data-toggle="collapse">@item.Header</a>
                }
                else
                {
                    @item.Header
                }
            </h3>

            <div class="news-list_date">@date</div>
            @Html.Raw(item.Text)

            @if (item.ShowStatistic)
            {
                <div id="@item.Id" class="collapse in">
                    @foreach (var answer in item.Answer)
                    {
                        if (answer.Statistic.AllVoteCount > 0)
                        {                            
                            double proc = (int)((100 / (double)answer.Statistic.AllVoteCount) * answer.Statistic.ThisVoteCount);
                            <div class="vote_stat">
                                <div class="vote_stat_text">@answer.Variant <small>@answer.Statistic.ThisVoteCount из @answer.Statistic.AllVoteCount (@proc&nbsp;%)</small></div>
                                <div class="vote_stat_load_wr">
                                    <div class="vote_stat_load" style="width:@(proc)%"></div>
                                </div>
                            </div>
                        }
                        else
                        {                            
                            <div class="vote_stat">
                                <div class="vote_stat_text">@answer.Variant <small>0 из 0 (0&nbsp;%)</small></div>
                                <div class="vote_stat_load_wr">
                                    <div class="vote_stat_load" style="width:0%"></div>
                                </div>
                            </div>
                        }
                    }
                </div>
            }
            else
            {
                <form action="/vote/givevote/@item.Id" class="vote_item" method="post">
                    @if (item.Answer != null)
                    {
                        foreach (var answer in item.Answer)
                        {
                            if (item.Type)
                            {
                                <div class="radio">
                                    <label><input type="checkbox" name="r-@item.Id" value="@answer.id" /><span></span>@answer.Variant</label>
                                </div>
                            }
                            else
                            {
                                <div class="checkbox">
                                    <label><input type="radio" name="r-@item.Id" value="@answer.id" /><span></span>@answer.Variant</label>
                                </div>
                            }
                        }
                        <button type="submit" class="btn btn-default"><span class="ti-check-box"></span>&nbsp;&nbsp;Проголосовать</button>
                    }
                </form>
            }
        </div>
    }
    if (Model.VoteList.Pager != null)
    {
        @Html.Partial("Part/Pager", Model.VoteList.Pager)
    }
}
