@model NewsViewModel

<div class="row">
    <div class="col-md-8">
        <h2>@Html.Raw(Model.Item.Title)</h2>
        @Html.Raw(Model.Item.Text)
        <br />
        @if (Model.Item.Documents != null)
        {
            @Html.Partial("part/attachedFiles", Model.Item.Documents)
        }
        <br />
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <div class="dop-block">
            <div class="dop-block_info">
                <label>Опубликовано</label>
                <div>@Model.Item.Date.ToString("dd MMMM yyyy")<br>@Model.Item.Date.ToString("HH:mm")</div>
            </div>
            @if (Model.Item.Url != null)
            {
                <div class="dop-block_info">
                    <label>Первоисточник</label>
                    <div><a href="@Model.Item.Url" target="_blank">@Model.Item.UrlName</a></div>
                </div>
            }
            
            <a class="btn_print" onClick="window.print()">Распечатать</a><br />
            <a class="btn_share" title="Поделиться" href="../../../../#">Поделиться</a>            
        </div>
    </div>
</div>


