@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Content/plugins/mobileGallery/swipebox.css" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title </title>
</head>
<body>
    <div class="gallery__list">
        @foreach (var item in Model)
        {
            item.PhotoHd = (File.Exists(Server.MapPath(item.PhotoHd))) ? item.PhotoHd : item.Photo;
            <a class="swipebox" title="@item.AlbomTitle" href="@item.PhotoHd" data-original="@item.Photo" data-preview="@item.Preview" target="_parent"></a>
        }
    </div>
    <a href="/admin/services/showphotogallery" class="remove_on_front">Назад</a>
    <script src="~/Scripts/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var frameUrl = window.location.pathname;
            var ParentFrame = window.top.$("iframe[src='" + frameUrl + "']");
            var _div = $("<div class='gallery__list' />");
            $(".gallery__list .swipebox").each(function () {
                var obj = $(this);
                var src = obj.attr('href');
                var preview = obj.attr('data-preview');
                var original = obj.attr('data-original');
                _div.append("<div class='swip_wr'><div class='swip_wr1'><a class='swipebox' data-original='" + original + "' title='" + obj.attr('title') + "' style='background-image:url(" + preview + ")'  href='" + src + "'></a></div></div>");
            });
            ParentFrame.after(_div)
            window.top.PhGall();
        });
    </script>
</body>
</html>