@model HomePageViewModel
@{
    Layout = ViewBag.Layout;
    var slider = (Model.BannerArray != null) ?
    Model.BannerArray
    .Where(w => w.SectionAlias.Equals("slider"))
    .Select(s => new
    {
        Id = s.Id,
        Title = s.Title,
        Url = s.Photo.Url,
        Text = s.Text,
        Link = s.Url
    })
    : null;

    var sitemapPlates = (Model.SiteMapArray != null) ?
        Model.SiteMapArray
        .Where(w => w.MenuAlias.Equals("plate"))
        .OrderBy(o => o.MenuSort)
        .Select(s => new
        {
            Path = s.Path,
            Alias = s.Alias,
            Title = s.Title,
            FrontSection = s.FrontSection,
            Url = s.Url,
            Photo = s.Photo
        })
        : null;

    var benefitBanners = (Model.BannerArray != null) ?
        Model.BannerArray
        .Where(w => w.SectionAlias.Equals("benefits"))
        .Select(s => new
        {
            Id = s.Id,
            Title = s.Title,
            Url = s.Photo.Url,
            Text = s.Text,
            Link = s.Url
        })
        : null;

    var announcements = (Model.Materials != null) ? Model.Materials.Where(w => w.GroupAlias.Equals("announcement")).OrderByDescending(o=>o.Date) : null;
    var news = (Model.Materials != null) ? Model.Materials.Where(w => w.GroupAlias.Equals("news")).OrderByDescending(o => o.Date) : null;
    var actual = (Model.Materials != null) ? Model.Materials.Where(w => w.GroupAlias.Equals("actual")).OrderByDescending(o => o.Date) : null;
    int i = 0;
}

@*основные ссылки*@
<div class="container">
    <div class="link-list">
        <div class="col-md-3">
            <a class="link_item btn" href="https://reg.med.cap.ru/Default.aspx" target="_blank">Электронная регистратура</a>
        </div>
        <div class="col-md-3">
            <a class="link_item btn" href="/vote">Нам важно ваше мнение!</a>
        </div>
        <div class="col-md-3">
            <a class="link_item btn" href="/kalendarj">Календарь событий</a>
        </div>
        <div class="col-md-3">
            <a class="link_item btn" href="http://med.cap.ru/portalgssites" target="_blank">Консультация online</a>
        </div>
    </div>
</div>




<div class="container">
    @if (news != null)
    {
        <div class="block">
            <div class="col-md-12">
                @if (news != null)
                {
                    <div class="block_category">
                        <h2>Новости</h2>
                        @foreach (var item in news)
                    {
                        string link = "/press/" + item.Date.Year + "/" + item.Date.Month + "/" + item.Date.Day + "/" + item.Alias;
                            <div class="block_item">
                                <h3><a href="link">@item.Title</a></h3>
                                <p class="block_item_published">@item.Date.ToString("D")</p>                                
                            </div>
                        }
                    </div>
                }
                
                @if (actual != null)
                {
                    <div class="block_category">
                        <h2>Акуталььно</h2>
                        @foreach (var item in actual)
                        {
                            string link = "/press/" + item.Date.Year + "/" + item.Date.Month + "/" + item.Date.Day + "/" + item.Alias;
                            <div class="block_item">
                                <h3><a href="link">@item.Title</a></h3>
                                <p class="block_item_published">@item.Date.ToString("D")</p>                                
                            </div>
                        }
                    </div>
                }
                @if (announcements != null)
                {
                    <div class="block_category">
                        <h2>Объявления</h2>
                        @foreach (var item in announcements)
                        {
                            string link = "/press/" + item.Date.Year + "/" + item.Date.Month + "/" + item.Date.Day + "/" + item.Alias;
                            <div class="block_item">
                                <h3><a href="link">@item.Title</a></h3>
                                <p class="block_item_published">@item.Date.ToString("D")</p>                                
                            </div>
                        }
                    </div>
                }               
            </div>
        </div>
    }
</div>


    @if (benefitBanners != null)
    {     
            <div class="container">
                <div class="col-md-12 ">
                    <h2 class="module-title">Полезные ресурсы</h2>
                    <div class="bl_column_4">
                        @foreach (var item in benefitBanners)
                        {
                            string link = "/redirect/link/" + item.Id;

                            string title = item.Title;
                            if (title.Length > 70)
                            {
                                title = title.Substring(0, 70);
                            }
                            <div class="col-md-3 item_elem">
                                <a href="@link" class="link_item btn">@Html.Raw(title)</a>
                            </div>
                        }
                    </div>                            
                </div>                
            </div>        
    }
    @if (sitemapPlates != null && sitemapPlates.Count() > 0)
    {
        <div class="container">
            <div class="col-md-12">
                <div class="top_line">
                    <h2 class="module-title">Полезные ссылки</h2>
                    <div class="bl_column_4 ">
                        @foreach (var item in sitemapPlates)
                        {
                            string fullPath = "/";

                            if (!string.IsNullOrEmpty(item.Url))
                            {
                                fullPath = item.Url;
                            }
                            else if (item.FrontSection.ToLower().Equals("page"))
                            {
                                fullPath = item.Path + item.Alias;
                            }
                            else
                            {
                                fullPath = "/" + item.FrontSection;
                            }
                            <div class="col-sm-3 item_elem">
                                <a href="@fullPath" class="link_item btn">@item.Title</a>
                            </div>
                        }
                    </div>
                </div>
              
                
            </div>
        </div>            
    }


@{
    var photo = (Model.Materials != null) ? Model.Materials.Where(w => w.GroupAlias.Equals("photo")) : null;
    var photo_it = (photo != null && photo.Count() > 0) ? photo.FirstOrDefault() : null;
    var video = (Model.Materials != null) ? Model.Materials.Where(w => w.GroupAlias.Equals("video")) : null;
    var video_it = (video != null) ? video.FirstOrDefault() : null;
}
<div class="container">
    <div class="block">
        <div class="col-md-12">
            <h2><a href="/press/photo">Фото</a></h2>
            @if (photo_it != null)
            {
                string _img = photo_it.Photo;
                <div class="block_item">
                    <img  src="@_img"/>
                    <div class="block_item_info"><a href="/press/@photo_it.Date.Year/@photo_it.Date.Month/@photo_it.Date.Day/@photo_it.Alias">@video_it.Title</a></div>
                </div>
                     }

        </div>
    </div>
</div>
<div class="container">
    <div class="block">
        <div class="col-md-12">
            <h2><a href="/press/video">Видео</a></h2>
            @if (video_it != null)
            {
                string _img = video_it.Photo;
                <div class="block_item">
                    <img src="@_img" />
                    <div class="block_item_info"><a href="/press/@video_it.Date.Year/@video_it.Date.Month/@video_it.Date.Day/@video_it.Alias">@video_it.Title</a></div>
                </div>
            }

        </div>
    </div>
</div>

