@model HomePageViewModel
@{
    Layout = ViewBag.Layout;


    int i = 0;
}

@*основные ссылки*@
<div class="container">
    <div class="link-list">
        <div class="col-md-3">
            <a class="link_item btn" href="https://reg.med.cap.ru/Default.aspx" target="_blank">Электронная регистратура</a>
        </div>
        <div class="col-md-3">
            <a class="link_item btn" href="/vote">Нам важно ваше мнение!</a>
        </div>
        <div class="col-md-3">
            <a class="link_item btn" href="/kalendarj">Календарь событий</a>
        </div>
        <div class="col-md-3">
            <a class="link_item btn" href="http://med.cap.ru/portalgssites" target="_blank">Консультация online</a>
        </div>
    </div>
</div>




<div class="container">
    @if (Model.ModuleNews != null)
    {
        <div class="block">
            <div class="col-md-12">
                @if (Model.ModuleNews != null)
                {
                    <div class="block_category">
                        <h2>Новости</h2>
                        @foreach (var item in Model.ModuleNews)
                    {
                        string link = "/press/" + item.Date.Year + "/" + item.Date.Month + "/" + item.Date.Day + "/" + item.Alias;
                            <div class="block_item">
                                <h3><a href="link">@item.Title</a></h3>
                                <p class="block_item_published">@item.Date.ToString("D")</p>                                
                            </div>
                        }
                    </div>
                }
                
                @if (Model.ModuleActual != null)
                {
                    <div class="block_category">
                        <h2>Актуально</h2>
                        @foreach (var item in Model.ModuleActual)
                        {
                            string link = "/press/" + item.Date.Year + "/" + item.Date.Month + "/" + item.Date.Day + "/" + item.Alias;
                            <div class="block_item">
                                <h3><a href="link">@item.Title</a></h3>
                                <p class="block_item_published">@item.Date.ToString("D")</p>                                
                            </div>
                        }
                    </div>
                }
                @if (Model.ModuleAnnouncement != null)
                {
                    <div class="block_category">
                        <h2>Объявления</h2>
                        @foreach (var item in Model.ModuleAnnouncement)
                        {
                            string link = "/press/" + item.Date.Year + "/" + item.Date.Month + "/" + item.Date.Day + "/" + item.Alias;
                            <div class="block_item">
                                <h3><a href="link">@item.Title</a></h3>
                                <p class="block_item_published">@item.Date.ToString("D")</p>                                
                            </div>
                        }
                    </div>
                }               
            </div>
        </div>
    }
</div>


    @if (Model.BenifitBanners != null)
    {     
            <div class="container">
                <div class="col-md-12 ">
                    <h2 class="module-title">Полезные ресурсы</h2>
                    <div class="bl_column_4">
                        @foreach (var item in Model.BenifitBanners)
                        {
                            string link = "/redirect/link/" + item.Id;

                            string title = item.Title;
                            if (title.Length > 70)
                            {
                                title = title.Substring(0, 70);
                            }
                            <div class="col-md-3 item_elem">
                                <a href="@link" class="link_item btn">@Html.Raw(title)</a>
                            </div>
                        }
                    </div>                            
                </div>                
            </div>        
    }
    @if (Model.SitemapPlate != null && Model.SitemapPlate.Count() > 0)
    {
        <div class="container">
            <div class="col-md-12">
                <div class="top_line">
                    <h2 class="module-title">Полезные ссылки</h2>
                    <div class="bl_column_4 ">
                        @foreach (var item in Model.SitemapPlate)
                        {
                            string fullPath = "/";

                            if (!string.IsNullOrEmpty(item.Url))
                            {
                                fullPath = item.Url;
                            }
                            else if (item.FrontSection.ToLower().Equals("page"))
                            {
                                fullPath = item.Path + item.Alias;
                            }
                            else
                            {
                                fullPath = "/" + item.FrontSection;
                            }
                            <div class="col-sm-3 item_elem">
                                <a href="@fullPath" class="link_item btn">@item.Title</a>
                            </div>
                        }
                    </div>
                </div>
              
                
            </div>
        </div>            
    }



<div class="container">
    <div class="block">
        <div class="col-md-12">
            <h2><a href="/press/photo">Фото</a></h2>
            @if (Model.ModulePhoto != null)
            {
                string _img = Model.ModulePhoto.Photo;
                <div class="block_item">
                    <a href="/press/@Model.ModulePhoto.Date.Year/@Model.ModulePhoto.Date.Month/@Model.ModulePhoto.Date.Day/@Model.ModulePhoto.Alias">
                        <img src="@_img" />
                    </a>                    
                    <div class="block_item_info"><a href="/press/@Model.ModulePhoto.Date.Year/@Model.ModulePhoto.Date.Month/@Model.ModulePhoto.Date.Day/@Model.ModulePhoto.Alias">@Model.ModulePhoto.Title</a></div>
                </div>
                     }

        </div>
    </div>
</div>
<div class="container">
    <div class="block">
        <div class="col-md-12">
            <h2><a href="/press/video">Видео</a></h2>
            @if (Model.ModuleVideo != null)
            {
                string _img = Model.ModuleVideo.Photo;
                <div class="block_item">
                    <a href="/press/@Model.ModuleVideo.Date.Year/@Model.ModuleVideo.Date.Month/@Model.ModuleVideo.Date.Day/@Model.ModuleVideo.Alias">
                        <img src="@_img" />
                    </a>                    
                    <div class="block_item_info"><a href="/press/@Model.ModuleVideo.Date.Year/@Model.ModuleVideo.Date.Month/@Model.ModuleVideo.Date.Day/@Model.ModuleVideo.Alias">@Model.ModuleVideo.Title</a></div>
                </div>
            }

        </div>
    </div>
</div>

