@{
    Layout = "~/Areas/Admin/Views/Shared/_popUp.cshtml";
}
@model UserSiteLinkModel
<div class="buttons">
    <button type="submit" name="action" value="save-org-btn" class="btn btn-primary icon-create">СОХРАНИТЬ</button>
</div>

@if (Model != null && Model.Sites != null)
{
    @Html.HiddenFor(m => m.UserId);
    <div class="scrollbar modal-site-list">

        <table class="table table-striped" cellspacing="0" width="100%" id="modal-sites-table">
            <thead>
                <tr>
                    <th>Название сайта</th>
                    <th>Алиас</th>
                    <th>Тип сайта</th>
                    <th>url</th>
                    <th>Отметить</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Sites)
                {
                    <tr>
                        <td>
                            @item.Title
                        </td>
                        <td class="td-bold">
                            @item.Alias
                        </td>
                        <td>
                            @item.Type
                        </td>
                        <td>
                            @if (item.DomainList != null)
                            {
                                <ul>
                                    @foreach (var domain in item.DomainList)
                                    {
                                        <li>@domain.DomainName</li>
                                    }
                                </ul>
                            }
                        </td>
                        <td class="td-center">
                            <input type="checkbox" name="SitesId" class="td-center iCheck" value="@item.Id" data-init="false" @(item.Checked ? "checked" : null) />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}
else
{
    <div id="log-list_title">
        <div class="alert alert-danger" role="alert">Список сайтов пуст или не доступен.</div>
    </div>
}




<script>
    $(document).ready(function () {

        $("#modal-sites-table .iCheck").iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'icheckbox_square-blue'
            //increaseArea: '%' //optional
        });
        $.extend($.fn.dataTable.defaults, {
            searching: false,
            ordering: false,
            scrollY: false,//"200px",
            //info: false,
            language: {
                "url": "/Content/plugins/datatables/i18n/ru.json"
            }
        });
        $('#modal-sites-table').DataTable(
            {
                searching: true,
                ordering: true,
                columns: [
                    null,
                    null,
                    null,
                    { "orderable": false },
                    { "searchable": false, "orderable": false }

                ]
                //paging: false
            });
    });
</script>

