@model ExpertsViewModel
@{
    People[] model = null;
}
<div class="type-page">
    <div class="container">
        @Html.Partial("services/breadcrumbs")

        <h1>@(Model.CurrentPage != null ? Model.CurrentPage.Title : ViewBag.Title)</h1>

        @Html.Partial("part/nav", Model)


        @switch (Model.Type)
        {
            case "info":
                if (Model.Info != null)
                {
                    <div class="col-md-9">
                        @Model.Info.Text
                    </div>
                }
                break;
            case "specialists":
                model = Model.SpesialitsList;
                if (model != null)
                {
                    @Html.Partial("part/list", model)
                }
                break;
            case "experts":
                model = Model.ExpertsList;
                if (model != null)
                {
                    @Html.Partial("part/list", model)
                }
                break;
            case "doctors":
                model = Model.DoctorsList;
                if (model != null)
                {
                    @Html.Partial("part/list", model)
                }
                break;
            default:
                if (Model.SpecializationInfo != null)
                {
                    <div class="col-md-9">
                        @Model.SpecializationInfo
                    </div>
                }
                break;
        }
    </div>
</div>
