@model SpecStructureViewModel
@{
    Layout = ViewBag.Layout;
}
@{
    // Model.CurrentPage == null Проверяем в контроллере, он не должен быть null
    GSMemberModel[] model = null;
}
<div class="type-page">
    <div class="container">

        @Html.Partial("services/breadcrumbs")

        <h1>@ViewBag.Title</h1>

        @if (Model.Nav != null)
        {
            @Html.Partial("part/nav", Model.Nav)
        }
        <input type="hidden" name="tab" value="@Model.Type" form="list-filter-form" />
        @switch (Model.Type)
        {
            case "specialists":
                model = Model.SpesialitsList;
                if (model != null)
                {
                    @Html.Partial("part/list", model)
                }
                break;
            case "experts":
                model = Model.ExpertsList;
                if (model != null)
                {
                    @Html.Partial("part/list", model)
                }
                break;
            case "doctors":
                @*model = Model.EmployeeList;
                if (model != null)
                {
                    @Html.Partial("part/list", model)
                }*@
                break;
            default:
                <div class="row">
                    <div class="col-md-12 page-info">
                        @Html.Raw(Model.CurrentPage.Text)
                    </div>
                </div>
                if (Model.MainSpec != null)
                {
                    <div class="row">
                        <div class="col-md-12 page-info">
                            @Html.Raw(Model.MainSpec.Desc)
                        </div>
                    </div>
                }
               
                break;
        }
    </div>
</div>
