@model VoteViewModel
@if (Model.UserResolution.Read)
{
    <div class="content">
        <h1>@ViewBag.Title</h1>
        @if (Model.List != null && Model.List.Data != null && Model.List.Data.Count() > 0)
        {
            foreach (var item in Model.List.Data)
            {
                string disabled = (item.Disabled) ? "disabled" : "";
                <div class="list-item @disabled">
                    <a href="/admin/vote/item/@item.Id/@ViewBag.urlQuery" title="@item.Header" class="li-caption">@item.Header</a><br />
                    <span>Дата начала</span> @Convert.ToDateTime(item.DateStart).ToString("dd.MM.yyyy")<br />
                    @if (item.DateEnd != null)
                    {
                        <span>Дата завершения</span> @Convert.ToDateTime(item.DateEnd).ToString("dd.MM.yyyy")
                    }
                </div>
            }
            //Html.RenderAction("Pager", "Templates", new { @Model = Model.List.Pager });
            if (Model.List != null && Model.List.Pager != null)
            {
                @Html.Partial("Partial/Pager", Model.List.Pager)
            }
        }
    </div>
    <div class="dop_info-block">
        <div class="dop-caption">Фильтр</div>
        @Html.Partial("Part/SearchFilter")
    </div>

    <div class="buttons">
        @if (Model.UserResolution.Write)
        {
            <button type="submit" name="action" value="insert-btn" class="button icon-create">Создать</button>
        }
    </div>
}