@model VoteViewModel
@if (Model.UserResolution.Read)
{
    <div class="content">
        <h1>@ViewBag.Title</h1>
        @if (Model.List != null)
        {
            foreach (var item in Model.List.Data)
            {
                string disabled = (item.Disabled) ? "disabled" : "";
                <div class="list-item @disabled">
                    <a href="/admin/vote/item/@item.Id/@ViewBag.urlQuery" title="@item.Header" class="li-caption">@item.Header</a><br />
                    <span>Дата начала</span> @Convert.ToDateTime(item.DateStart).ToString("dd.MM.yyyy")<br />
                    @if (item.DateEnd != null)
                    {
                        <span>Дата завершения</span> @Convert.ToDateTime(item.DateEnd).ToString("dd.MM.yyyy")
                    }                    
                </div>
            }
            Html.RenderAction("Pager", "Templates", new { @Model = Model.List.Pager });
        }
    </div>
    <div class="dop_info-block">
        <div class="dop-caption">Фильтр</div>
        @Html.TextBox("searchtext", Request.QueryString["searchtext"], new { @title = "Поиск по ключевым словам", @placeholder = "поиск...", @MaxLength = "512" })
        @Html.CheckBox("disabled", Convert.ToBoolean(Request.QueryString["disabled"]), new { @title = "Отображать", @data_on = "Только запрещенные", @data_onstyle = "danger", @data_off = "Все записи", @data_width = "270" })
        <div class="row">
            <div class="col-xs-6">@Html.TextBox("date", Request.QueryString["date"], new { @data_type = "date", @title = "Дата публикации с", @placeholder = "дд.мм.гггг" })</div>
            <div class="col-xs-6">@Html.TextBox("dateend", Request.QueryString["dateend"], new { @data_type = "date", @title = "по", @placeholder = "дд.мм.гггг" })</div>
        </div>
        <div class="row">
            <div class="col-md-6"><button type="submit" name="action" value="search-btn" class="button btn-primary">Применить</button></div>
            <div class="col-md-6"><button type="submit" name="action" value="clear-btn" class="button btn-default">Сбросить</button></div>
        </div>
    </div>

    <div class="buttons">
        @if (Model.UserResolution.Write)
        {
            <button type="submit" name="action" value="insert-btn" class="button icon-create">Создать</button>            
        }
    </div>
}