@model GeneralSpecialistViewModel
<div class="type-page">
    <div class="container">
        @Html.Partial("services/breadcrumbs")

        <h1>@ViewBag.Title</h1>

        @if (Model.DopInfo != null)
        {
            @Html.Raw(Model.DopInfo.Text)
        }

        @if (Model.List != null)
        {
            string link = ".med.cap.ru";

            <div class="row">
                @foreach (var item in Model.List)
                {
                    link = "http://" + item.Domain + link;

                    <div class="col-md-12">
                        <a target="_blank" href="@link">@item.Name</a>
                    </div>
                }
            </div>
        }
    </div>
</div>