@model SpecialistsViewModel
@{
    Layout = ViewBag.Layout;
}
@{
// Model.CurrentPage == null Проверяем в контроллере, он не должен быть null
}
<div class="type-page">
    <div class="container">
        @Html.Partial("services/breadcrumbs")

        <h1>@ViewBag.Title</h1>

        @if (Model.CurrentPage != null)
        {
            @Html.Raw(Model.CurrentPage.Text)
        }

        @if (Model.Members != null && Model.Members.Count() > 0)
        {
            <div class="row">
                <div class="col-md-8">
                    <table class="adminlist">
                        @foreach (var item in Model.Members)
                        {
                            string link = "/doctors/" + item.Id;

                            string photo = (!string.IsNullOrWhiteSpace(item.Photo))
                          ? File.Exists(Server.MapPath(item.Photo))
                              ? item.Photo : "/Content/img/no_avatar.png"
                          : "/Content/img/no_avatar.png";

                            <tr>
                                <td class="adminlist_img_td">
                                    <a class="adminlist_img_wr" target="_blank" href="@link">
                                        <img class="img-circle img-person-list" alt="@item.FIO" src="@photo" />
                                    </a>
                                </td>
                                <td>
                                    <a href="@link">@item.FIO</a><br />
                                    @if (item.MainSpec != null && !string.IsNullOrEmpty(item.MainSpec.Title))
                                    {
                                        if (!string.IsNullOrEmpty(item.MainSpec.DomainUrl))
                                        {
                                            var mainSpeclink = string.Format("http://{0}", item.MainSpec.DomainUrl);
                                            <span>Главный специалист: <a href="@mainSpeclink">@item.MainSpec.Title</a></span>
                                        }
                                        else
                                        {
                                            <span>Главный специалист: @item.MainSpec.Title</span>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="col-md-3 col-md-push-1">
                    <form id="list-filter-form" role="form" class="filtr_news" action="/@ViewBag.ControllerName/">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group search_news">
                                    <label class="label_filtr" for="search_news">Ключевые слова</label>
                                    <input type="text" class="filtr_data form-control" name="searchtext" id="search_news" value="@ViewBag.SearchText" />
                                </div>
                            </div>

                            <div class="col-sm-12 control-filter">
                                <a class="btn btn-default pull-right" href="/@ViewBag.ControllerName">Очистить</a>
                                <button class="btn sub btn-primary" type="submit">Применить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
</div>