@model VacancyViewModel
@{
    Layout = ViewBag.Layout;
}
@if (Model.List != null)
{
    <div class="type-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("services/breadcrumbs")
                    <h1>@ViewBag.Title</h1>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="vacnacy-list">
                                @if (Model.List.Data != null && Model.List.Data.Count() > 0)
                                {
                                    foreach (var item in Model.List.Data)
                                    {
                                        <div class="vacnacy_item">
                                            <div class="vacnacy_item_date">@item.Date.ToString("dd.MM.yyyy")</div>
                                            <a href="/vacancy/@item.Id">@item.Post</a>

                                            @*@if (!string.IsNullOrEmpty(item.Profession))
                                            {
                                                <span>, @item.Profession</span>
                                            }
                                            @if (item.Temporarily)
                                            {
                                                <span> (Вакансия на замещение должности)</span>
                                            }*@

                                            <p>
                                                @if (!string.IsNullOrEmpty(item.Desc) && item.Desc.Length > 250)
                                                {
                                                    @Html.Raw(item.Desc.Substring(0, 250))
                                                    <span> ...</span>
                                                }
                                                else
                                                {
                                                    @Html.Raw(item.Desc)
                                                }
                                            </p>
                                            @if (Model.SitesInfo != null && Model.SitesInfo.Alias == "main")
                                            {
                                                <div class="vacnacy_item_date">
                                                     @item.OrgName
                                                </div>
                                            }
                                        </div>
                                    }
                                    Html.RenderAction("Pager", "Service", new { @Model = Model.List.Pager });
                                }
                            </div>
                        </div>
                        <div class="col-md-3 col-md-push-1">
                            <form role="form" class="filtr_news" action="/@ViewBag.ControllerName">
                                <div class="row">

                                    <div class="col-sm-12">
                                        <div class="form-group search_news">
                                            <label class="label_filtr" for="search_news">Ключевые слова</label>
                                            <input type="text" class="filtr_data form-control" name="searchtext" id="search_news" value="@(ViewBag.Filter != null? ViewBag.Filter.SearchText:null)" />
                                        </div>
                                    </div>
                                    <div class="col-sm-12 control-filter">
                                        <a class="btn btn-default pull-right" href="/@ViewBag.ControllerName">Очистить</a>
                                        <button class="btn sub btn-primary" type="submit">Применить</button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
