@model VacancyViewModel
@{
    if (Model.SitesInfo.Alias == "main")
    {
        Layout = "/views/_portal/shared/_layout.cshtml";
    }
}
@if (Model.Item != null)
{
    <div class="type-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @Html.Partial("services/breadcrumbs")
                    <h1>@ViewBag.Title</h1>
                    <div class="row">
                        <div class="col-md-3 col-md-push-9">
                            <div class="dop-block">

                                @if (Model.Item.Post != null)
                                {
                                    <div class="dop-block_info">
                                        <label>Должность: </label>
                                        <div>@Model.Item.Post</div>
                                    </div>
                                }
                                @if (Model.Item.Profession != null)
                                {
                                    <div class="dop-block_info">
                                        <label>Профессия: </label>
                                        <div>@Model.Item.Profession</div>
                                    </div>
                                }

                                @if (Model.Item.Salary != null)
                                {
                                    <div class="dop-block_info">
                                        <label>Зарплата</label>
                                        <div>@Model.Item.Salary</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="dop-block_info">
                                        <label>Зарплата</label>
                                        <div>з/п не указана</div>
                                    </div>
                                }
                                <div class="dop-block_info">
                                    <label>Дата публикации</label>
                                    <div>@Model.Item.Date.ToString("dd.MM.yyyy")</div>
                                </div>
                                <br />
                                <a class="btn_print" onClick="window.print()">Распечатать</a><br />
                                <a class="btn_share" title="Поделиться" href="../../../../#">Поделиться</a>
                            </div>
                        </div>
                        <div class="col-md-8 col-md-pull-3">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="row vacancy-single-desc">

                                        <div class="col-md-2"><strong>Профессия/<br />должность</strong></div>
                                        <div class="col-md-10">
                                            <span>@Model.Item.Post</span>
                                            @if (Model.Item.Temporarily)
                                            {
                                                <span> (Вакансия на замещение должности)</span>
                                            }

                                            @if (!string.IsNullOrEmpty(Model.Item.Profession))
                                            {
                                                <br />
                                                <span>@Model.Item.Profession</span>
                                            }
                                        </div>
                                    </div>

                                    @if (Model.SitesInfo != null && Model.SitesInfo.Alias == "main")
                                    {
                                        <div class="vacancy-single-desc">
                                            <div class="col-md-2"><strong>ЛПУ:</strong></div>
                                            <div class="col-md-10">
                                                <a href="http://@Model.Item.OrgUrl">@Model.Item.OrgName</a>
                                            </div>
                                        </div>
                                    }

                                    <br />
                                    @if (Model.Item.Desc != null)
                                    {
                                        <div class="vacancy-single-desc">
                                            <strong>Должностные обязанности:</strong><br />
                                            @Html.Raw(Model.Item.Desc)
                                        </div>
                                    }
                                    @if (Model.Item.Experience != null)
                                    {
                                        <div class="vacancy-single-desc">
                                            <strong>Требования: </strong>
                                            @Html.Raw(Model.Item.Experience)
                                        </div>
                                    }
                                    @if (Model.Item.Сonditions != null)
                                    {
                                        <div class="vacancy-single-desc">
                                            <strong>Условия: </strong>
                                            @Html.Raw(Model.Item.Сonditions)
                                        </div>
                                    }
                                    <br />
                                    <div class="vacancy-single-desc">

                                        <a href="@(!string.IsNullOrEmpty(Model.Item.OrgUrl)? string.Format("http://{0}/contacts/", Model.Item.OrgUrl) : "/contacts")">Контактная информация</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
