@model PortalDoctorsViewModel

<h1>@ViewBag.Title</h1>
<div class="row">
    <div class="col-md-8">
        @if (Model.DoctorsList != null && Model.DoctorsList.Doctors.Count() > 0)
        {
            <table class="table">
                <tr>
                    <th>Изображение</th>
                    <th>ФИО</th>
                    <th>Должность</th>
                </tr>

                @foreach (var item in Model.DoctorsList.Doctors)
                {
                    string link = "/" + ViewBag.ControllerName + "/" + item.Id;

                    string photo = !string.IsNullOrWhiteSpace(item.Photo)
                        ? File.Exists(Server.MapPath(item.Photo))
                            ? item.Photo : "/Content/img/no_avatar.png"
                        : "/Content/img/no_avatar.png";
                    <tr>


                        <td class="adminlist_img_td">
                            <a class="adminlist_img_wr" target="_blank" href="@link">
                                <img class="img-circle img-person-list" alt="@item.FIO" src="@photo" />
                            </a>
                        </td>
                        <td>
                            <a class="adminlist_name" href="@link">@item.FIO</a>
                        </td>
                        <td>
                            @if (item.Posts != null && item.Posts.Count() > 0)
                            {
                                var postsByOrg = item.Posts.Where(p => p.OrgId != null).Any() ?
                                    item.Posts.Where(p => p.OrgId != null).OrderBy(p => p.Type).GroupBy(p => p.OrgId) : null;
                                if (postsByOrg != null)
                                {
                                    foreach (var postByOrg in postsByOrg)
                                    {

                                        var org = postByOrg.Where(p => p.OrgId == postByOrg.Key).First();
                                        string linkToOrg = string.Format("http://{0}", org.OrgUrl);
                                        <p>
                                            @if (!string.IsNullOrWhiteSpace(linkToOrg))
                                            {
                                                <a target="_blank" href="@linkToOrg">@(org.OrgTitle):</a><br />
                                            }
                                            else
                                            {
                                                <b>@(org.OrgTitle):</b><br />
                                            }

                                            @foreach (var p in postByOrg)
                                            {
                                                <span> -@p.Name </span><br />
                                            }
                                        </p>
                                    }
                                }
                            }
                        </td>
                    </tr>
                }
            </table>

            //Html.RenderAction("Pager", "Service", new { @Model = Model.List.Pager });
            if (Model.DoctorsList != null && Model.DoctorsList.Pager != null)
            {
                @Html.Partial("Part/Pager", Model.DoctorsList.Pager)
            }
        }

    </div>
    <div class="col-md-3 col-md-push-1">
        <form role="form" class="filtr_news" action="/@ViewBag.ControllerName/">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group search_news">
                        <label class="label_filtr" for="search_news">Ключевые слова</label>
                        <input type="text" class="filtr_data form-control" name="searchtext" id="search_news" value="@ViewBag.SearchText" />
                    </div>
                </div>

                @if (Model.PeoplePosts != null)
                {
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="label_filtr">Специализации</label>
                            <select class="form-control select2" name="type">
                                <option value="">не выбрано</option>
                                @foreach (var item in Model.PeoplePosts)
                                {
                                    string selected = (item.Id.ToString() == ViewBag.Position) ? "selected" : string.Empty;
                                    <option value="@item.Id" @selected>@item.Name</option>
                                }
                            </select>

                        </div>
                    </div>
                }

                <div class="col-sm-12 control-filter">
                    <a class="btn btn-default pull-right" href="/@ViewBag.ControllerName">Очистить</a>
                    <button class="btn sub" type="submit">Применить</button>
                </div>
            </div>
        </form>
    </div>

</div>
