@model FeedbackViewModel
@{
    if (Model.SitesInfo.Alias == "main")
    {
        Layout = "/views/_portal/shared/_layout.cshtml";
    }
    //var newItemBtnLink = (Model.CurrentPage != null)
    //       ? string.Format("{0}form?type=review", Model.CurrentPage.Path) : "";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("services/breadcrumbs")
            <h1>@ViewBag.Title</h1>

            @Html.Partial("part/childtabs", Model)

            <div class="row padding-top-30">
                <div class="col-md-8">
                    @*<div class="text-left"><a class="btn sub btn-primary" href="@newItemBtnLink">Оставить отзыв</a><br /><br /></div>*@
                    <div class="text-left"><a class="btn sub btn-primary" href="#feedback-send-form">Задать вопрос</a><br /><br /></div>

                    <div class="feedback_list">
                        @if (Model.List != null)
                        {
                            if (Model.List.Data != null)
                            {
                                @Html.Partial("Part/List", Model.List.Data)
                            }
                            //Html.RenderAction("Pager", "Service", new { @Model = Model.List.Pager });
                            if (Model.List != null && Model.List.Pager != null)
                            {
                                @Html.Partial("Partial/Pager", Model.List.Pager)
                            }
                        }
                        else
                        {
                            <div class="col-md-12 topIndent-20"><br />На данный момент не задано ни одного вопроса. Вы можете быть первым!</div>
                        }
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    @Html.Partial("Part/Filter")
                </div>
            </div>

        </div>
    </div>
</div>
<div id="feedback-send-form"></div>
@Html.Partial("Part/Form")
