@model FeedbackViewModel
@{
    if (Model.SitesInfo.Alias == "main")
    {
        Layout = "/views/_portal/shared/_layout.cshtml";
    }
}
<script src='https://www.google.com/recaptcha/api.js'></script>

<div class="container">
    <h1>Форма обратной связи</h1>
    @*@Html.Partial("services/breadcrumbs")
        <h1>@ViewBag.Title</h1>

        @Html.Partial("part/childtabs", Model)*@

    <div class="row">
        <div class="col-md-8">
            
                @*<h2>Задайте вопрос</h2>*@
                @if (ViewBag.FormStatus != null)
            {
                string status = ViewBag.FormStatus;
                    <div id="feedback_status" class="feedback_status">
                        @switch (status)
                        {
                            case "send":
                                {
                                    <div class="alert alert-success">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        Ваше сообщение отправлено.
                                    </div>
                                }
                                break;
                            case "captcha":
                                {
                                    <div class="alert alert-warning">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        Сообщение не отправлено. Заполните все обязательные поля и введите каптчу.
                                    </div>
                                }
                                break;
                            default:
                                {
                                    <div class="alert alert-danger">
                                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                        Ваше сообщение не отправлено.
                                        @Html.ValidationSummary(false, "")
                                    </div>
                                }
                                break;
                        }
                    </div>
                }
            <fieldset>
                <div id="reviewss-from" class="select_choice">
                    @using (Html.BeginForm("SendForm", "Feedback", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="form-group">
                            <label for="feedback-senderName-input">Ф.И.О.</label>
                            <input type="text" id="feedback-senderName-input" name="SenderName" value="@ViewBag.SenderName" class="form-control" maxlength="256" required />
                        </div>
                        <div class="form-group">
                            <label for="feedback-senderEmail-input">Электронная почта</label>
                            <input type="email" id="feedback-senderEmail-input" name="SenderEmail" value="@ViewBag.SenderEmail" class="form-control" maxlength="50" required />
                        </div>
                            <div class="form-group">
                                <label for="feedback-senderContacts-input">Дополнительные контакты</label>
                                <textarea class="form-control" id="feedback-senderContacts-input" name="SenderContacts" rows="3" maxlength="256">@ViewBag.SenderContacts</textarea>
                            </div>
                            <div class="form-group">
                                <label for="feedback-type-select">Тип обращения</label>
                                <select id="feedback-type-select" name="FbType" class="form-control">
                                    <option value="@FeedbackType.appeal.ToString()" @((ViewBag.FbType == FeedbackType.appeal) ? "selected" : null)>Вопрос</option>
                                    <option value="@FeedbackType.review.ToString()" @((ViewBag.FbType == FeedbackType.review) ? "selected" : null)>Отзыв</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="feedback-theme-input">Тема обращения</label>
                                <input type="text" id="feedback-theme-input" name="Theme" value="@ViewBag.Theme" class="form-control" maxlength="256" />
                            </div>
                            <div class="form-group">
                                <label for="feedback-text-area">Текст обращения</label>
                                <textarea class="form-control" id="feedback-text-area" name="Text" rows="7" maxlength="2048" required>@ViewBag.Text</textarea>
                            </div>

                            <div class="form-group">
                                <label for="feedback-file-input">Прикрепить файл</label>
                                <div>
                                    <label class="custom-file">
                                        <input type="file" id="feedback-file-input" name="FileToUpload" max-size="10485760" class="custom-file-input" accept="image/jpg,image/jpeg,image/png,application/pdf,application/msword,application/excel" />
                                        <span class="custom-file-control"></span>
                                    </label>
                                </div>
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="feedback-anonymous-chkbx" name="Anonymous" @(ViewBag.Anonymous ? "checked" : null) value="True" />
                                    Анонимно (Ваше имя не будет отображено на сайте)
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="feedback-isAgree-chkbx" name="IsAgree" @(ViewBag.IsAgree ? "checked" : null) value="True" />
                                    Я согласен на обработку своих персональных данных в соответствии с Федеральным законом №152-ФЗ от 27.07.2006 г. «О персональных данных»
                                </label>
                            </div>
                            <div class="g-recaptcha" data-sitekey="@ViewBag.CaptchaKey"></div>
                            <div id="fb"></div>
                            <br>
                            <button id="feedback-send-btn" type="submit" name="action" value="send-btn" class="btn sub btn-primary" @(ViewBag.IsAgree ? "" : "disabled")>Отправить</button>
                    }
                </div>
            </fieldset>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        var _isAgree = $("#feedback-isAgree-chkbx");
        _isAgree.click(function () {
            if ($(this).is(':checked')) {
                $("#feedback-send-btn").prop("disabled", false);
            }
            else {
                $("#feedback-send-btn").prop("disabled", true);
            }
        });

        $("#feedback-type-select").select2({
            language: "ru",
            width: "100%",
            allowClear: false,
            minimumResultsForSearch: Infinity
        });

    });
</script>
