@model SpecStructureViewModel
@{
    Layout = ViewBag.Layout;
}
@{
    // Model.CurrentPage == null Проверяем в контроллере, он не должен быть null
    GSMemberModel[] model = null;
}
<div class="type-page">
    <div class="container">

        @Html.Partial("services/breadcrumbs")

        <h1>@ViewBag.Title</h1>

        @if (Model.Nav != null)
        {
            @Html.Partial("part/nav", Model.Nav)
        }

        <div class="row">
            <div class="col-md-3 col-md-offset-1 col-md-push-8">
                <form role="form" class="filtr_news" action="/@ViewBag.ControllerName/">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group search_news">
                                <label class="label_filtr" for="search_news">Поиск по ФИО</label>
                                <input type="text" class="filtr_data form-control" name="searchtext" id="search_news" value="@ViewBag.SearchText" />
                            </div>
                        </div>
                        @if (Model.Specializations != null)
                        {
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="label_filtr">Специализации</label><br />
                                    <select class="form-control select2" name="type" style="width:100%;">
                                        <option value="">не выбрано</option>
                                        @foreach (var item in Model.Specializations)
                                        {
                                            string selected = (item.Id.ToString() == ViewBag.Position) ? "selected" : string.Empty;
                                            <option value="@item.Id" @selected>@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        }
                        <div class="col-sm-12 control-filter">
                            <input type="hidden" name="tab" value="doctors" />
                            <a class="btn btn-default pull-right" href="/@ViewBag.ControllerName">Очистить</a>
                            <button class="btn sub" type="submit">Применить</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-8 col-md-pull-4">
                @if (Model.DoctorsList != null && Model.DoctorsList.Doctors.Count() > 0)
                {
                    <div class="doctorsList-block">
                        @foreach (var item in Model.DoctorsList.Doctors)
                {
                    var port = (Settings.BaseURL == "localhost") ? ":" + Context.Request.Url.Port : "";
                    string link = "http://" + Settings.BaseURL + port + "/portaldoctors/" + item.Id;

                    string photo = !string.IsNullOrWhiteSpace(item.Photo)
                        ? File.Exists(Server.MapPath(item.Photo))
                            ? item.Photo : "/Content/img/no_avatar.png"
                        : "/Content/img/no_avatar.png";
                            <div class="row">
                                <div class="col-md-2 col-sm-3 col-xs-5">
                                    <a class="adminlist_img_wr" target="_blank" href="@link">
                                        <img class="img-circle img-person-list" alt="@item.FIO" src="@photo" />
                                    </a>
                                </div>
                                <div class="col-md-3 col-sm-9 col-xs-7">
                                    <a class="adminlist_name" href="@link">@item.FIO</a>
                                </div>
                                <div class="col-md-7 col-xs-12">
                                    @if (item.Posts != null && item.Posts.Count() > 0)
                                    {
                                        var postsByOrg = item.Posts.Where(p => p.Org != null).Any() ?
                                            item.Posts.Where(p => p.Org != null).OrderBy(p => p.Type).GroupBy(p => p.Org.Id) : null;
                                        if (postsByOrg != null)
                                        {
                                            foreach (var postByOrg in postsByOrg)
                                            {
                                                var org = postByOrg.Where(p => p.Org.Id == postByOrg.Key).First();
                                                string linkToOrg = string.Format("http://{0}", org.Org.Url);
                                                <p>
                                                    @if (!string.IsNullOrWhiteSpace(linkToOrg))
                                                    {
                                                        <a target="_blank" href="@linkToOrg">@(org.Org.Title):</a><br />
                                                    }
                                                    else
                                                    {
                                                        <b>@(org.Org.Title):</b><br />
                                                    }
                                                    @foreach (var p in postByOrg)
                                                    {
                                                        <span> -@p.Name </span><br />
                                                    }
                                                </p>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        }
                    </div>

                    if (Model.DoctorsList != null && Model.DoctorsList.Pager != null)
                    {
                        @Html.Partial("Part/Pager", Model.DoctorsList.Pager)
                    }
                }
                else
                {
                    <div class="doctorsList-block">
                        <p class="noItems">Список пуст ...</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>