@model StructureViewModel
@Html.Partial("services/breadcrumbs")
<h1>@Model.DepartmentItem.Title</h1>

<div class="structur">
    <div class="row">        
        <div class="col-md-8">
            @if (Model.DepartmentItem.Phones != null)
            {
                <dl class="dl-horizontal">
                    @foreach (var item in Model.DepartmentItem.Phones)
                    {
                        <dt>@item.Label</dt>
                        <dd>@item.Value</dd>
                    }                    
                </dl>
            }
            @*@if (Model.DepartmentItem.Peoples != null)
            {
                <table class="table">
                    @foreach (var item in Model.DepartmentItem.Peoples)
                    {
                        <tr>
                            <td><a href="/doctors/@item.Id">@item.FIO</a></td>
                            <td>@item.Status</td>
                            <td>@item.Post</td>
                        </tr>
                    }
                </table>
            }*@            
            <div>@Html.Raw(Model.DepartmentItem.Text)</div>
        </div>
        <div class="col-md-3 col-md-push-1">
            <div class="boss pull-right">
                @if (Model.DepartmentItem.Boss != null)
                {
                    foreach (var boss in Model.DepartmentItem.Boss)
                    {
                        <a href="/doctors/@boss.Id" class="boss_img_wrap">
                            @if (boss.Photo != null)
                            {
                                <img src="@boss.Photo" title="@boss.FIO" />
                            }
                            else
                            {
                                <img src="~/Content/img/no_avatar.png" />
                            }
                        </a>
                        <a class="boss_fio" href="/doctors/@boss.Id">@boss.FIO</a>
                        if (!String.IsNullOrEmpty(boss.Post))
                        {
                            <div class="boss_post">@boss.Post</div>
                        }

                    }
                }  
                SISTER
                @if (Model.DepartmentItem.Sister != null)
                {
                    foreach (var boss in Model.DepartmentItem.Sister)
                    {
                        <a href="/doctors/@boss.Id" class="boss_img_wrap">
                            @if (boss.Photo != null)
                            {
                                <img src="@boss.Photo" title="@boss.FIO" />
                            }
                            else
                            {
                                <img src="~/Content/img/no_avatar.png" />
                            }
                        </a>
                        <a class="boss_fio" href="/doctors/@boss.Id">@boss.FIO</a>
                        if (!String.IsNullOrEmpty(boss.Post))
                        {
                            <div class="boss_post">@boss.Post</div>
                        }

                    }
                }  
                <a class="link_all" href="/doctors/?group=@Model.DepartmentItem.Id">все сотрудники</a>
            </div>
        </div>
    </div>
</div>

