@model StructureViewModel
@Html.Partial("services/breadcrumbs")
<h1>@Model.DepartmentItem.Title</h1>

<div class="structur">
    <div class="row">        
        <div class="col-md-8">
            @if (Model.DepartmentItem.Phones != null)
            {
                <dl class="dl-horizontal">
                    @foreach (var item in Model.DepartmentItem.Phones)
                    {
                        <dt>@item.Label</dt>
                        <dd>@item.Value</dd>
                    }                    
                </dl>
            }
            @*@if (Model.DepartmentItem.Peoples != null)
            {
                <table class="table">
                    @foreach (var item in Model.DepartmentItem.Peoples)
                    {
                        <tr>
                            <td><a href="/doctors/@item.Id">@item.FIO</a></td>
                            <td>@item.Status</td>
                            <td>@item.Post</td>
                        </tr>
                    }
                </table>
            }*@            
            <div>@Html.Raw(Model.DepartmentItem.Text)</div>
        </div>
        <div class="col-md-3 col-md-push-1">
            <div class="boss pull-right">
                @if (Model.DepartmentItem.Boss != null)
                {
                    <a href="/doctors/@Model.DepartmentItem.Boss.Id" class="boss_img_wrap">
                        @if (Model.DepartmentItem.Boss.Photo != null)
                        {
                            <img src="@Model.DepartmentItem.Boss.Photo" title="@Model.DepartmentItem.Boss.FIO"/>
                        }
                        else
                        {
                            <img src="~/Content/img/no_avatar.png" />
                        }                        
                    </a>
                    <a class="boss_fio" href="/doctors/@Model.DepartmentItem.Boss.Id">@Model.DepartmentItem.Boss.FIO</a>                    
                    <div class="boss_post">@Model.DepartmentItem.Boss.Post</div>
                }                
                <a class="link_all" href="/doctors/?group=@Model.DepartmentItem.Id">все сотрудники</a>
            </div>
        </div>
    </div>
</div>

