@model StructureViewModel
@Html.Partial("services/breadcrumbs")
<h1>@Model.DepartmentItem.Title</h1>

<div class="structur">
    <div class="row">        
        <div class="col-md-8">
            @if (Model.DepartmentItem.Phones != null)
            {
                <dl class="dl-horizontal">
                    @foreach (var item in Model.DepartmentItem.Phones)
                    {
                        <dt>@item.Label</dt>
                        <dd>@item.Value</dd>
                    }                    
                </dl>
            }                 
            <div>@Html.Raw(Model.DepartmentItem.Text)</div>
        </div>
        <div class="col-md-3 col-md-push-1">
            <div class="boss pull-right">
                @Html.Partial("part/boss_list") 
                <a class="link_all" href="/doctors/?group=@Model.DepartmentItem.Id">все сотрудники</a>
            </div>
        </div>
    </div>
</div>

