@model StructureViewModel
@{
    if (Model.SitesInfo.Alias == "main")
    {
        Layout = "/views/_portal/shared/_layout.cshtml";
    }
}
<h1>@Model.DepartmentItem.Title</h1>
@Html.Partial("services/breadcrumbs")
<div class="structur">
    <div class="row">        
        <div class="col-md-8">
            <div class="structur_phons">
                <table class="table table-condensed">
                    
                        @if (Model.StructureItem.Adress != null)
                        {
                            <tr>
                                <td>Адрес</td>
                                <td>@Model.StructureItem.Adress</td>
                            </tr>
                        }
                        @if (Model.StructureItem.Phone != null)
                        {
                            <tr>
                                <td>Телефон приемной</td>
                                <td>@Model.StructureItem.Phone</td>
                            </tr>
                        }
                        @if (Model.StructureItem.PhoneReception != null)
                        {
                            <tr>
                                <td>Телефон регистраутры</td>
                                <td>@Model.StructureItem.PhoneReception</td>
                            </tr>
                        }
                        @if (Model.StructureItem.Fax != null)
                        {
                            <tr>
                                <td>Факс</td>
                                <td>@Model.StructureItem.Fax</td>
                            </tr>
                        }
                        @if (Model.StructureItem.Email != null)
                        {
                            <tr>
                                <td>E-mail приемной</td>
                                <td><a href="mailto:@Model.StructureItem.Email">@Model.StructureItem.Email</a></td>
                            </tr>
                        } 
                    @if (Model.DepartmentItem.Phones != null)
                    {
                        foreach (var item in Model.DepartmentItem.Phones)
                        {
                            <tr>
                                <td>@item.Label</td>
                                <td>@item.Value</td>
                            </tr>
                        }
                    }
                </table>
            </div>
           
            @if (Model.DepartmentItem.Peoples != null)
            {
                <table class="table">
                    @foreach (var item in Model.DepartmentItem.Peoples)
                    {
                        <tr>
                            <td><a href="/doctors/@item.Id">@item.FIO</a></td>
                            <td>@item.Status</td>
                            <td>@item.Post</td>
                        </tr>
                    }
                </table>
            }
            @if (Model.DepartmentItem.Text != null)
            {
                <div>@Html.Raw(Model.DepartmentItem.Text)</div>
            }            
        </div>
        <div class="col-md-3 col-md-push-1">
            <div class="boss">
                <div class="person_right">
                    @Html.Partial("part/boss_list")
                    <a class="btn_reg ti-user" href="/doctors/?group=@Model.DepartmentItem.Id">все сотрудники</a>
                </div>                
                <div id="coords" class="buildmap" style="width: 100%; height: 250px;" data-zoom="11" data-height="300" data-x="@Model.StructureItem.GeopointX.ToString().Replace(",", ".")" data-y="@Model.StructureItem.GeopointY.ToString().Replace(",", ".")" data-title="@Model.StructureItem.Title"></div>
            </div>
        </div>
    </div>
</div>
