@model TypePageViewModel
@{
    if (Model.SitesInfo.Alias == "main")
    {
        Layout = "/views/_portal/shared/_layout.cshtml";
    }
}
<div class="type-page">
    <div class="container">
        @Html.Partial("services/breadcrumbs")
        @if (Model.Item != null)
        {
            <h1>@Model.Item.Title</h1>
        }
        
        @if (Model.Child != null)
        {
            if (Model.Item.Text != null)
            {
                <div class="col-md-8">
                    @if (Model.Item != null)
                    {
                        @Html.Raw(Model.Item.Text)
                    }
                </div>
                <div class="col-md-3 col-md-push-1">
                    @Html.Partial("part/childlist_sitemap")
                </div>
            }
            else
            {
                <div class="col-md-12">
                    @Html.Partial("part/childlist_sitemap")
                </div>
            }
        }
        else
        {
            <div class="col-md-12">
                @if (Model.Item != null)
                {
                    @Html.Raw(Model.Item.Text)
                }
            </div>
        }

        <br />
        @if (Model.Documents != null)
        {
            @Html.Partial("part/attachedFiles", Model.Documents)
        }
    </div>
</div>