@model WorksheetViewModel
@{
    if (Model.SitesInfo.Alias == "main")
    {
        Layout = "/views/_portal/shared/_layout.cshtml";
    }
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("services/breadcrumbs")
            <h1>@ViewBag.Title</h1>

            @Html.Partial("part/childtabs", Model)

            <div class="row padding-top-30">
                <div class="col-md-12">
                    @if (Model != null && Model.Item != null && !string.IsNullOrEmpty(Model.Item.Url))
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                <h3>@Model.Item.Title</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 news-list_date">
                                @Model.Item.DateBegin.ToShortDateString()
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-info">
                                @Html.Raw(Model.Item.Text)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 padding-top-30">
                                <iframe src="@Model.Item.Url" frameborder="0" marginheight="0" marginwidth="0"
                                        class="modal_frame" sandbox="allow-same-origin allow-scripts allow-forms" scrolling="auto"
                                        style="width: 100%;" height="2400">
                                </iframe>
                                <div class="frame-content"></div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-lg-12">Нет доступных анкет.</div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function ()
    {

        var ifr = $(".modal_frame");

        //var h = Math.max(d.body.offsetHeight, d.body.scrollHeight);
        //h += (document.all) ? 60 : 20;

        $('iframe').load(function () {
            var _ih = $('iframe').contents().height();
            $('iframe').height(_ih);
        });
    });
</script>
