@model EventsModalViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_popUp.cshtml";
}
<link rel="stylesheet" href="/Content/css/styles_popUp.css" />
<div>
    @if (Model != null)
    {
        <div class="buttons">
            <button type="submit" name="action" value="save-org-btn" class="btn btn-primary icon-create">СОХРАНИТЬ</button>
        </div>
        @Html.HiddenFor(m => m.ObjctId)
        @Html.HiddenFor(m => m.ObjctType)

        <div class="scrollbar modal-event-list">
            @if (Model.EventsList != null && Model.EventsList.Count() > 0)
            {
                <table class="table-striped" id="modal-event-table">
                    @foreach (var item in Model.EventsList)
                    {
                        <tr>
                            <td class="date">
                                <strong>@item.DateBegin.ToShortDateString()</strong>
                            </td>
                            <td>
                                <a href="/admin/events/item/@item.Id"> @item.Title</a><br />
                                @Html.Raw(item.Text.Substring(0, Math.Min(item.Text.Length, 150)))
                            </td>
                            <td>
                                <input type="checkbox" name="EventsId" class="org-item-chkbx iCheck" value="@item.Id" data-init="false" @(item.Checked ? "checked" : null) />
                            </td>
                        </tr>
                    }
                </table>
            }
        </div>
    }
    else
    {
        <div id="log-list_title">
            <div class="alert alert-danger" role="alert">Список событий для этой записи пуст.</div>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        $("#modal-event-table .iCheck").iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'icheckbox_square-blue'
            //increaseArea: '%' //optional
        });
        $('#modal-event-table').DataTable();
    });
</script>