@model OrgsModalViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_popUp.cshtml";
}
<link rel="stylesheet" href="/Content/css/styles_popUp.css" />
<div>
    @if (Model != null)
    {
        <div class="buttons">
            <button type="submit" name="action" value="save-org-btn" class="btn btn-primary icon-create">СОХРАНИТЬ</button>
        </div>
        @Html.HiddenFor(m => m.ObjctId)
        @Html.HiddenFor(m => m.ObjctType)

        <div class="scrollbar modal-org-list">
            @if (Model.OrgsTypes != null)
            {
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="org-byType-tree">
                            @foreach (var orgtype in Model.OrgsTypes)
                            {
                                <li>
                                    <input type="checkbox" class="org-type-chkbx iCheck" data-init="false" />
                                    <a href="#">@orgtype.Title</a>

                                    @if (Model.OrgsList != null)
                                    {
                                        if (orgtype.Sort == 1000)
                                        {
                                            var list = Model.OrgsList.Where(t => t.Types == null);
                                            if (list.Any())
                                            {
                                                <ul>
                                                    @foreach (var item in list)
                                                    {
                                                        <li>
                                                            <div>
                                                                @*@Html.CheckBoxFor(m => Model.OrgsId[j].Check, new { type = "checkbox", @data_init = "false" })*@
                                                                <input type="checkbox" name="OrgsId" class="org-item-chkbx iCheck" value="@item.Id" data-init="false" @(item.Checked ? "checked" : null) />
                                                            </div>
                                                            <div class="modal-label-org-item">@item.Title</div>
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                        }
                                        else
                                        {
                                            var list = Model.OrgsList.Where(t => t.Types != null && t.Types.Contains(orgtype.Id));
                                            if (list.Any())
                                            {
                                                <ul>
                                                    @foreach (var item in list)
                                                    {
                                                        <li>
                                                            <div><input type="checkbox" name="OrgsId" class="org-item-chkbx iCheck" value="@item.Id" data-init="false" @(item.Checked ? "checked" : null) /></div>
                                                            <div class="modal-label-org-item">@item.Title</div>
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                        }
                                    }
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div id="log-list_title">
            <div class="alert alert-danger" role="alert">Список организаций для этой записи пуст.</div>
        </div>
    }
</div>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();

        $(".iCheck").iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'icheckbox_square-blue'
            //increaseArea: '%' //optional
        });
        $(".org-byType-tree ul").addClass("hidden");
        $(".org-byType-tree li").each(function () {
            if ($(this).find("ul").length > 0) {
                $(this).addClass("icon-sitemap");

            }
            else {
                //$(this).find("[type='checkbox']").attr("disabled", true);
            }
        });

        $(".org-byType-tree a").on("click", function (e) {
            e.preventDefault();
            $(this).parent().find("ul").toggleClass("hidden");
        });
    });
</script>
<style>
    .icon-sitemap:before {
        content: '\e972';
        margin-left: -26px;
    }
</style>