@model PageViewModel
@{
    ViewBag.Version = "1.0.1";
    string currentYear = DateTime.Now.Year.ToString();
    string theme = Model.SitesInfo.Theme + ".css";

    var mainMenu = Model.MainMenu.ToArray();

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> @ViewBag.Title - @Model.SitesInfo.Title</title>
    @*<link href="~/fonts/FontAwesome/font-awesome.css" rel="stylesheet">*@
    @Styles.Render("~/Content/style_spec")
    
    <link href="~/Content/plugins/mobileGallery/swipebox.css" rel="stylesheet" />    
    
    @Scripts.Render("~/bundles/modernizr")     
</head>
<body>

    <div class="sv_settings text-center" id="sv_settings">
        <span>
            Размер шрифта            
            <span class="fs-outer">
                <button class="btn btn-default fs-n" id="fs-n">А</button>
                <button class="btn btn-default fs-m active" id="fs-m">А</button>
                <button class="btn btn-default fs-l" id="fs-l">А</button>
            </span>
        </span>

        <span class="mgl20">
            Цветовая схема
            <span class="cs-outer">
                <button class="btn btn-default cs-bw active" id="cs-bw">А</button>
                <button class="btn btn-default cs-wb" id="cs-wb">А</button>
                <button class="btn btn-default cs-bb" id="cs-bb">А</button>
                <button class="btn btn-default cs-gb" id="cs-gb">А</button>
                <button class="btn btn-default cs-yg" id="cs-yg">А</button>
            </span>
        </span>

        <span class="mgl20">
            Изображения
            <span class="img-outer">
                <button class="btn btn-default" id="img-onoff"><span id="img-onoff-text"> Отключить</span></button>
            </span>
        </span>
    </div>
    <div class="cecu cs-bw fs-m">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a href="/" class="head_titel">@Model.SitesInfo.Title</a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="container-fluid">

                        @if (mainMenu != null)
                        {
                            <ul class="nav nav-pills nav-justified">

                                @for (int i = 0; i < 5; i++)
                                {
                                    var item = mainMenu[i];
                                    if (item != null)
                                    {
                                        string fullPath = "/";
                                        if (!string.IsNullOrEmpty(item.Url))
                                        {
                                            fullPath = item.Url;
                                        }
                                        else if (item.FrontSection.ToLower().Equals("page"))
                                        {
                                            fullPath = item.Path + item.Alias;
                                        }
                                        else
                                        {
                                            fullPath = "/" + item.FrontSection;
                                        }
                                        string _class = (Request.Path == fullPath) ? "class=active" : "";
                                        <li @_class>
                                            <a href="@fullPath">@item.Title</a>
                                        </li>
                                    }
                                }
                            </ul>
                            <ul class="nav nav-pills nav-justified">

                                @for (int i = 6; i < mainMenu.Length; i++)
                                {
                                    var item = mainMenu[i];
                                    if (item != null)
                                    {
                                        string fullPath = "/";
                                        if (!string.IsNullOrEmpty(item.Url))
                                        {
                                            fullPath = item.Url;
                                        }
                                        else if (item.FrontSection.ToLower().Equals("page"))
                                        {
                                            fullPath = item.Path + item.Alias;
                                        }
                                        else
                                        {
                                            fullPath = "/" + item.FrontSection;
                                        }
                                        string _class = (Request.Path == fullPath) ? "class=active" : "";
                                        <li @_class>
                                            <a href="@fullPath">@item.Title</a>
                                        </li>
                                    }
                                }
                            </ul>
                        }
                    
                    </div>
                </div>
            </div>
        </div>

        <div class="container body-content">
            <div class="row">
                @RenderBody()
            </div>            
            <footer>
                <p>&copy; @DateTime.Now.Year - @Model.SitesInfo.LongTitle</p>
                <p>@Model.SitesInfo.Adress</p>
                <p>@Model.SitesInfo.Phone</p>
                <p><a href="@Model.SitesInfo.Site">@Model.SitesInfo.Site</a></p>
                <br /><br />
            </footer>
        </div>
        <a href="#" class="default-site btn" title="Основная версия сайта">Основная версия сайта</a>
    </div>

    
    @Scripts.Render("~/bundles/jquery_spec")
    <script src="~/Content/plugins/mobileGallery/js/jquery.swipebox.js"></script>
    @Scripts.Render("~/Content/js_spec")     
    
    @RenderSection("scripts", required: false)
</body>
</html>