@model FeedbacksViewModel
@{
    int maxChars = 150;
}
@if (Model.UserResolution.Read)
{

    <div class="content">
        <h1>@ViewBag.Title</h1>

        @if (Model.List != null)
        {
            foreach (FeedbackModel Item in Model.List.Data)
            {

                string disabled = (Item.Disabled) ? "disabled" : "";


                <div class="row list-item @disabled">
                    <div class="col-lg-1">
                        <div class="li-date">
                            @Convert.ToDateTime(Item.Date).ToString("dd.MM.yyyy")
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="text-center li-isNew">
                            @if (Item.IsNew)
                            {
                                <span class="glyphicon glyphicon-envelope"></span>
                            }
                        </div>

                    </div>
                    <div class="col-lg-10">
                        <div class="li-title">
                            <a title="@Item.Title" class="li-caption" href="/admin/feedbacks/item/@Item.Id/@ViewBag.urlQuery">@Item.Title</a><br />

                            @if (!string.IsNullOrEmpty(Item.Text) && Item.Text.Length > maxChars)
                            {
                                @Html.Raw(Item.Text.Substring(0, maxChars))
                                <span> ...</span>
                            }
                            else
                            {
                                @Html.Raw(Item.Text)
                            }
                        </div>
                    </div>
                </div>
            }
            Html.RenderAction("Pager", "Templates", new { @Model = Model.List.Pager });
        }
        else
        {
            <div class="alert alert-info">Не найдено ни одной записи.</div>
        }
    </div>


    <div class="dop_info-block">
        <div class="dop-caption">Фильтр</div>
        @Html.TextBox("filter", Request.QueryString["filter"], new { @class = "uc_input", @title = "Поиск по ключевым словам", @placeholder = "поиск...", @MaxLength = "512" })
        @Html.CheckBox("enabeld", String.IsNullOrEmpty(Request.QueryString["enabeld"]), new { @class = "uc_input", @title = "Отображать", @data_on = "Все записи", @data_off = "Только запрещенные", @data_width = "270" })
        <div class="row">
            <div class="col-xs-6">@Html.TextBox("datestart", Request.QueryString["datestart"], new { @class = "uc_input", @data_type = "date", @title = "Дата публикации с", @placeholder = "дд.мм.гггг" })</div>
            <div class="col-xs-6">@Html.TextBox("dateend", Request.QueryString["dateend"], new { @class = "uc_input", @data_type = "date", @title = "по", @placeholder = "дд.мм.гггг" })</div>
        </div>
        <div class="row">
            <div class="col-md-6"><button type="submit" name="action" value="search-btn" class="button btn-primary">Применить</button></div>
            <div class="col-md-6"><button type="submit" name="action" value="clear-btn" class="button btn-default">Сбросить</button></div>
        </div>
    </div>

    <div class="buttons">
        @if (Model.UserResolution.Write)
        {
            <button type="submit" name="action" value="insert-btn" class="button icon-create">Создать</button>
            <button type="submit" name="action" value="rssimport-btn" class="button icon-create green">Импорт с других сайтов</button>
        }
    </div>
}
else
{
    <div class="content"><p>У вас недостаточно прав.</p></div>
}
