@model DoctorsViewModel
<h1>@ViewBag.Title</h1>
<div class="row">
    <div class="col-md-8">
        @if (Model.DoctorsList != null && Model.DoctorsList.Doctors != null && Model.DoctorsList.Doctors.Count() > 0)
        {
            <table class="table">
                @foreach (var item in Model.DoctorsList.Doctors)
                {
                    string link = "/" + ViewBag.ControllerName + "/" + item.Id;

                    string photo = !string.IsNullOrWhiteSpace(item.Photo)
                        ? File.Exists(Server.MapPath(item.Photo))
                            ? item.Photo : "/Content/img/no_avatar.png"
                        : "/Content/img/no_avatar.png";
                    <tr>

                        <td class="adminlist_img_td">
                            <a class="adminlist_img_wr" target="_blank" href="@link">
                                <img class="img-circle img-person-list" alt="@item.FIO" src="@photo" />
                            </a>
                        </td>
                        <td>
                            <a class="adminlist_name" href="@link">@item.FIO</a>
                            @if (item.Posts != null)
                    {
                        string posts = string.Empty;
                        foreach (var p in item.Posts)
                        {
                                    <div class="adminlist_post">
                                        @p.Name
                                    </div>
                                }
                            }
                        </td>
                        <td>
                            @if (item.IsRedirectUrl)
                            {
                                <a target="_blank" href="/RedirectRegistry/Doctors/@item.Id/?oid=@Model.Oid">Расписание</a>
                            }
                            else
                            {
                                <p>По графику</p>
                            }
                        </td>
                    </tr>
                }
            </table>
        }

        @*<div class="row">
                <div class="col-xs-12">
                    @if (Model.DoctorsList != null)
                    {
                        <table class="table">
                            <tr>
                                <th>Изображение</th>
                                <th>ФИО</th>
                                <th>Должность</th>
                                <th>Запись</th>
                            </tr>
                            @foreach (var item in Model.DoctorsList)
                            {
                                string link = "/" + ViewBag.ControllerName + "/" + item.Id;
                                string photo = !string.IsNullOrWhiteSpace(item.Photo) ? item.Photo
                                            : "/Content/img/nophoto.jpg";
                                <tr>
                                    <td>
                                        <a href="@link">
                                            <img src="@photo" class="img-circle img-person-list" alt="@item.FIO" />
                                        </a>
                                    </td>
                                    <td><a href="@link">@item.FIO</a></td>
                                    <td>
                                        @if (item.Posts != null)
                                        {
                                            string posts = string.Empty;

                                            foreach (var p in item.Posts)
                                            {
                                                <p>@p.Name</p>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @if (item.IsRedirectUrl)
                                        {
                                            <a target="_blank" href="/RedirectRegistry/Doctors/@item.Id/?oid=@Model.Oid">Расписание</a>
                                        }
                                        else
                                        {
                                            <p>По графику</p>
                                        }
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                </div>
            </div>*@
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <form role="form" class="filtr_news" action="/@ViewBag.ControllerName/">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group search_news">
                        <label class="label_filtr" for="search_news">Ключевые слова</label>
                        <input type="text" class="filtr_data form-control" name="searchtext" id="search_news" value="@ViewBag.SearchText" />
                    </div>
                </div>
                @if (Model.DepartmentsSelectList != null)
                {
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="label_filtr">Отделения</label>
                            <select class="form-control select2" name="group">
                                <option value="">не выбрано</option>
                                @foreach (var item in Model.DepartmentsSelectList)
                                {
                                    <optgroup label="@item.Title">
                                        @if (item.Departments != null)
                                        {
                                            foreach (var department in item.Departments)
                                            {
                                                string selected = (department.Id.ToString() == ViewBag.DepartGroup) ? "selected" : "";
                                                <option value="@department.Id" @selected>@department.Title</option>
                                            }

                                            <option value="test">test</option>
                                        }
                                    </optgroup>
                                }
                            </select>
                        </div>
                    </div>
                }
                @if (Model.Spesialisations != null)
                {
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="label_filtr">Специализации</label>
                            <select class="form-control select2" name="type">
                                <option value="">не выбрано</option>
                                @foreach (var item in Model.Spesialisations)
                                {
                                    string selected = (item.Id.ToString() == ViewBag.Position) ? "selected" : string.Empty;
                                    <option value="@item.Id" @selected>@item.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                }
                <div class="col-sm-12 control-filter">
                    <a class="btn btn-default pull-right" href="/@ViewBag.ControllerName">Очистить</a>
                    <button class="btn sub btn-primary" type="submit">Применить</button>
                </div>
            </div>
        </form>
    </div>
</div>
