@model MainSpecialistViewModel

@if (Model.UserResolution.Write)
{
    <div class="content">
        <h1>@ViewBag.Title</h1>
        @Html.TextBoxFor(m => m.Item.Name, new { @required = "", @title = "Название" })
        @Html.TextAreaFor(m => m.Item.Desc, new { @title = "Описание", @type = "editor", @rows = "8",data_dir= ViewBag.DataPath })
    </div>

    <div class="dop_info-block">
        <div class="dop-caption">Настройки</div>

        <div class="alert alert-info">
            При добавлении новой специализации
            необходимо нажать кнопку "Сохранить",
            чтобы подгрузился новый список врачей
        </div>
        <div class="form-group">
            <label for="itemGroups-select">Специализация:</label>
            <select name="Item.Specialisations" id="itemGroups-select" class="form-control select2" multiple required>
                @foreach (var post in Model.EmployeePostList)
                {
                    <option value="@post.Id" @(Model.Item != null && Model.Item.Specialisations != null && Model.Item.Specialisations.Any(s => s == post.Id) ? "selected" : null)>@post.Name</option>
                }
            </select>
        </div>

        @if (Model.EmployeeList != null)
        {
            <div class="form-group">
                <label for="itemGroups-select">Главные специалисты:</label>
                <select name="Item.EmployeeMainSpecs" id="itemGroups-select" class="form-control select2" multiple required>
                    @foreach (var emp in Model.EmployeeList)
                    {
                        <option value="@emp.Id" @(Model.Item != null && Model.Item.EmployeeMainSpecs != null && Model.Item.EmployeeMainSpecs.Any(s => s == emp.Id) ? "selected" : null)>@emp.Fullname</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="itemGroups-select">Экспертный совет:</label>
                <select name="Item.EmployeeExpSoviet" id="itemGroups-select" class="form-control select2" multiple required>
                    @foreach (var emp in Model.AllDoctors)
                    {
                        <option value="@emp.Id" @(Model.Item != null && Model.Item.EmployeeExpSoviet != null && Model.Item.EmployeeExpSoviet.Any(s => s == emp.Id) ? "selected" : null)>@emp.Fullname</option>
                    }
                </select>
            </div>
        }

        @if (Model.Item != null)
        {
            if (Model.Item.SiteId != Guid.Empty)
            {
                <br />
                    <div class="alert alert-info">
                        <strong>Сайт данной специалиста создан!</strong><br>
                        <a class="button icon-create" href="/admin/sites/item/@Model.Item.SiteId">Редактировать сайт</a>
                    </div>
            }
            else
            {
                <a class="button icon-create" href="/Admin/Sites/Master/@Guid.NewGuid()/?type=spec&contentid=@Model.Item.Id">Создать сайт</a>
            }
        }
    </div>
}
else
{
    <div class="content"><p>У вас недостаточно прав.</p></div>
}

<div class="buttons">
    @if ((Model.Item != null && Model.UserResolution.Change) || (Model.Item == null && Model.UserResolution.Write))
    {
        <button type="submit" name="action" value="save-btn" data-primary="true" class="button icon-create">Сохранить</button>
    }
    @if (Model.Item != null && Model.UserResolution.Delete)
    {
        <button type="submit" name="action" data-action="delete" value="delete-btn" class="button icon-delete">Удалить</button>
    }
    <button type="submit" name="action" data-action="cancel" value="cancel-btn" class="button icon-cancel">Закрыть</button>
</div>