@model GSMemberModel[]

@if (Model != null && Model.Count() > 0)
{
    <div class="row">
        @*<div class="col-md-3 col-md-push-9">
            <form id="list-filter-form" role="form" class="filtr_news" action="/@ViewBag.ControllerName/">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group search_news">
                            <label class="label_filtr" for="search_news">Ключевые слова</label>
                            <input type="text" class="filtr_data form-control" name="searchtext" id="search_news" value="@ViewBag.SearchText" />
                        </div>
                    </div>
                    <div class="col-sm-12 control-filter">
                        <a class="btn btn-default pull-right" href="/@ViewBag.ControllerName">Очистить</a>
                        <button class="btn sub btn-primary" type="submit">Применить</button>
                    </div>
                </div>
            </form>
        </div>*@

        <div class="col-md-8">
            <table class="table">
                @foreach (var item in Model)
                {
                    string link = string.Format("/doctors/{0}", (item.People != null) ? item.People.Id.ToString() : null);
                    string photo = (item.People != null && !string.IsNullOrWhiteSpace(item.People.Photo))
                          ? File.Exists(Server.MapPath(item.People.Photo))
                              ? item.People.Photo : "/Content/img/no_avatar.png"
                          : "/Content/img/no_avatar.png";
                    <tr>
                        <td class="adminlist_img_td">
                            <a target="_blank" href="@link">
                                <img class="img-circle img-person-list" alt="@item.People.FIO" src="@photo" />
                            </a>
                        </td>
                        <td>
                            <a class="adminlist_name" href="@link">@item.People.FIO</a>
                        </td>
                        <td>
                            @if (item.Orgs != null && item.Orgs.Count() > 0)
                            {
                                foreach (var org in item.Orgs)
                                {
                                    <p>
                                        @if (!string.IsNullOrWhiteSpace(org.Url))
                                        {
                                            string linkToOrg = string.Format("http://{0}", org.Url);
                                            <a target="_blank" href="@linkToOrg">@(org.Title):</a><br />
                                        }
                                        else
                                        {
                                            <b>@(org.Title):</b><br />
                                        }

                                        @if (item.Posts != null && item.Posts.Count() > 0)
                                        {
                                            var posts = item.Posts.Where(p => p.Org.Id == org.Id);
                                            if (posts != null)
                                            {
                                                foreach (var post in posts)
                                                {
                                                <span> - @post.Name </span><br />
                                                }
                                            }
                                        }
                                    </p>
                                }
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
