@model DoctorsViewModel

<div class="row">
    <div class="col-md-8">
        <div>
            <strong>Место работы: </strong>
            @Model.DoctorsItem.EmployeeInfo.UZ.Name
        </div>

        @if (Model.DoctorsItem.StructureId != null && Model.DoctorsItem.DepartmentId != null)
        {
            string link = "/structure/" + Model.DoctorsItem.StructureId + "/" + Model.DoctorsItem.DepartmentId;
            <div>
                <strong>Отделение: </strong>
                <a href="@link">@Model.DoctorsItem.DepartmentTitle</a>
            </div>
        }

        @if (!string.IsNullOrWhiteSpace(Model.DoctorsItem.Domain))
        {
            string link = "http://" + Model.DoctorsItem.Domain + ".med.cap.ru";
            <div>
                <strong>Главный специалист: </strong>
                <a href="@link" target="_blank">@Model.DoctorsItem.MainSpec</a>
            </div>
        }

        <div>
            <strong>Занимаемая должность: </strong>
            <ol>
                @foreach (var p in Model.DoctorsItem.EmployeeInfo.EmployeeRecords)
                {
                    <li>@p.RecordPost.Name</li>
                }
            </ol>
        </div>

        <div>
            <strong>Дата рождения: </strong>
            @if (Model.DoctorsItem.EmployeeInfo.Birthdate != null)
            {
                string birthDate = Convert.ToDateTime(Model.DoctorsItem.EmployeeInfo.Birthdate).ToString("dd MMMM yyyy") + " г.";
                @birthDate
            }
        </div>

        <div>
            <strong>Образовательные учреждения: </strong>
            <ol>
                @foreach (var e in Model.DoctorsItem.EmployeeInfo.EmployeeSertificateEducation.OrderBy(o => o.IssueDate))
                {
                    <li>
                        <strong>Название: </strong>@e.IssueOrg.Name<br />
                        <strong>Год выпуска: </strong>@(e.IssueDate != null ? Convert.ToDateTime(e.IssueDate).Year.ToString() + " г." : null)<br />
                        <strong>Специальность: </strong>@e.EducationSpeciality.Name
                    </li>
                }
            </ol>
        </div>

        <div>
            <strong>Стаж работы в отрасли: </strong>
            <ol>
                @foreach (var s in Model.DoctorsItem.EmployeeInfo.EmployeeRecords.OrderBy(o => o.DateBegin))
                {
                    string dateBegin = s.DateBegin != null ? Convert.ToDateTime(s.DateBegin).ToString("dd.MM.yyyy") + " г. " : null;
                    string dateEnd = s.DateEnd != null ? "—" + Convert.ToDateTime(s.DateEnd).ToString("dd.MM.yyyy") + " г. " : null;
                    string experience = dateBegin + dateEnd + s.RecordPost.Name + " " + s.Organisation;

                    <li>@experience</li>
                }
            </ol>
        </div>

        <div>
            @if (Model.DoctorsItem.EmployeeInfo.EmployeeAwards != null)
            {
                <strong>Награды: </strong>
                <ol>
                    @foreach (var a in Model.DoctorsItem.EmployeeInfo.EmployeeAwards.OrderBy(o => o.Issued))
                    {
                        string dateAward = a.Issued != null ? Convert.ToDateTime(a.Issued).ToString("dd.MM.yyyy") + " г. " : null;
                        <li>
                            @dateAward + @a.Name
                        </li>
                    }
                </ol>
            }
        </div>
    </div>

    <div class="col-md-3 col-md-push-1">
        <div class="dop-block">
            @if (Model.DoctorsItem.Photo != null)
            {
                <a href="/doctors/@Model.DoctorsItem.Id" class="boss_img_wrap">
                    @if (Model.DoctorsItem.Photo != null)
                    {
                        <img src="@Model.DoctorsItem.Photo" title="@Model.DoctorsItem.Photo" />
                    }
                    else
                    {
                        <img src="~/Content/img/no_avatar.png" />
                    }
                </a>
            }
            <a class="btn_print" onClick="window.print()">Распечатать</a><br />
            <a class="btn_share" title="Поделиться" href="../../../../#">Поделиться</a><br />
            @if (Model.DoctorsItem.IsRedirectUrl)
            {
                <a class="btn_reg ti-info-alt" target="_blank" href="/RedirectRegistry/Doctors/@Model.DoctorsItem.Id/?oid=@Model.Oid">Расписание</a>
            }

        </div>
    </div>
</div>
