@model DoctorsViewModel


<div class="row">
    <div class="col-md-3 col-md-offset-1 col-col-md-push-8">
        <form role="form" class="filtr_news" action="/@ViewBag.ControllerName/">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group search_news">
                        <label class="label_filtr" for="search_news">Ключевые слова</label>
                        <input type="text" class="filtr_data form-control" name="searchtext" id="search_news" value="@ViewBag.SearchText" />
                    </div>
                </div>
                @if (Model.DepartmentsSelectList != null)
                {
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="label_filtr">Отделения</label>
                            <select class="form-control select2" name="group">
                                <option value="">не выбрано</option>
                                @foreach (var item in Model.DepartmentsSelectList)
                                {
                                    <optgroup label="@item.Title">
                                        @if (item.Departments != null)
                                        {
                                            foreach (var department in item.Departments)
                                            {
                                                string selected = (department.Id.ToString() == ViewBag.DepartGroup) ? "selected" : "";
                                                <option value="@department.Id" @selected>@department.Title</option>
                                            }

                                            <option value="test">test</option>
                                        }
                                    </optgroup>
                                }
                            </select>

                        </div>
                    </div>
                }

                @if (Model.Spesialisations != null && Model.Spesialisations.Count() > 0)
                {
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="label_filtr">Специализации</label>
                            <select class="form-control select2" name="type">
                                <option value="">не выбрано</option>
                                @foreach (var item in Model.Spesialisations)
                                {
                                    string selected = (item.Id.ToString() == ViewBag.Position) ? "selected" : string.Empty;
                                    <option value="@item.Id" @selected>@item.Name</option>
                                }
                            </select>

                        </div>
                    </div>
                }

                <div class="col-sm-12 control-filter">
                    <a class="btn btn-default pull-right" href="/@ViewBag.ControllerName">Очистить</a>
                    <button class="btn sub btn-primary" type="submit">Применить</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-8 col-md-pull-4">
        @if (Model.DoctorsList != null && Model.DoctorsList.Doctors.Count() > 0)
        {
            <div class="doctorsList-block">

                @foreach (var item in Model.DoctorsList.Doctors)
                {
                    string link = "/" + ViewBag.ControllerName + "/" + item.Id;

                    string photo = !string.IsNullOrWhiteSpace(item.Photo)
                        ? File.Exists(Server.MapPath(item.Photo))
                            ? item.Photo : "/Content/img/no_avatar.png"
                        : "/Content/img/no_avatar.png";
                    <div class="row">
                        <div class="col-md-2 col-sm-3 col-xs-5">
                            <a target="_blank" href="@link">
                                <img class="img-circle img-person-list" alt="@item.FIO" src="@photo" />
                            </a>
                        </div>
                        <div class="col-md-8 col-xs-7">
                            <a class="adminlist_name" href="@link">@item.FIO</a>

                            @*@if (item.Posts != null && item.Posts.Where(p => p.Org != null && p.Org.Id == Model.SitesInfo.ContentId).Any())*@
                            @if (item.Posts != null)
                            {
                                string posts = string.Empty;
                                //foreach (var p in item.Posts.Where(p => p.Org != null && p.Org.Id == Model.SitesInfo.ContentId).OrderBy(p => p.Type))
                                foreach (var p in item.Posts)
                                {
                                    <div class="adminlist_post">
                                        @p.Name
                                    </div>
                                }
                            }
                        </div>
                        <div class="col-md-2 col-sm-9 col-xs-12">
                            @if (item.IsRedirectUrl)
                            {
                                <a target="_blank" href="/RedirectRegistry/Doctors/@item.Id/?oid=@Model.Oid">Расписание</a>
                            }
                            else
                            {
                                <p>По графику</p>
                            }
                        </div>
                    </div>
                }
            </div>

            if (Model.DoctorsList != null && Model.DoctorsList.Pager != null)
            {
                @Html.Partial("Part/Pager", Model.DoctorsList.Pager)
            }
        }
        else
        {
            <div class="doctorsList-block">
                <p class="noItems">Список пуст ...</p>
            </div>
        }
    </div>
</div>
