@model SpecialistsViewModel
@{
    if (Model.SitesInfo.Alias == "main")
    {
        Layout = "/views/_portal/shared/_layout.cshtml";
    }
}
@{
// Model.CurrentPage == null Проверяем в контроллере, он не должен быть null
}
<div class="type-page">
    <div class="container">
        @Html.Partial("services/breadcrumbs")

        <h1>@ViewBag.Title</h1>

        @if (Model.CurrentPage != null)
        {
            @Html.Raw(Model.CurrentPage.Text)
        }

        @if (Model.List != null && Model.List.Count() > 0)
        {
            <div class="row">
                <div class="col-md-8">
                    <table class="table">
                        @foreach (var item in Model.List)
                        {
                            <tr>
                                <td>
                                    <h3>
                                        @if (!string.IsNullOrEmpty(item.DomainUrl))
                                        {
                                            var link = string.Format("http://{0}", item.DomainUrl);
                                            <a target="_blank" href="@link" title="@item.Name">@item.Name</a>
                                        }
                                        else
                                        {
                                            <span>@item.Name</span>
                                        }
                                    </h3>
                                    <div>
                                        @if(!string.IsNullOrEmpty(item.Desc)){
                                            var max = (item.Desc.Length > 250) ? 250 : item.Desc.Length;

                                            <span>@Html.Raw(item.Desc.Substring(0, max))</span>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <div class="col-md-3 col-md-push-1">
                    <form id="list-filter-form" role="form" class="filtr_news" action="/@ViewBag.ControllerName/">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group search_news">
                                    <label class="label_filtr" for="search_news">Ключевые слова</label>
                                    <input type="text" class="filtr_data form-control" name="searchtext" id="search_news" value="@ViewBag.SearchText" />
                                </div>
                            </div>

                            <div class="col-sm-12 control-filter">
                                <a class="btn btn-default pull-right" href="/@ViewBag.ControllerName">Очистить</a>
                                <button class="btn sub btn-primary" type="submit">Применить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        }
    </div>
</div>