@model OrgsViewModel
@{
    string urlParam = "/Admin/Services/ChangePermit?group=orgs";
}

@if (Model.UserResolution.Read)
{
    <div class="content">
        <div class="row">
            <div class="col-sm-8"><h1>@ViewBag.Title</h1></div>
            <div class="col-sm-4"><a class="button icon-sort pull-right" style="max-width:150px;" data-action="noPreloader-accept" id="sorting_element" title="Добавляет возможность сортировки элементов списка">Сортировать</a></div>
        </div>
        
        
        @if (Model.OrgList != null)
        {
            <div class="sort_list">
                <table id="sm_list" class="table table-striped">
                    <thead>
                        <tr>
                            <th class="map_site_title">Название</th>
                        </tr>
                    </thead>
                    <tbody  data-service="@urlParam">
                        @foreach (var item in Model.OrgList)
                        {
                            <tr class="ui-sortable-handle" data-id="@item.Id">
                                <td><a href="/admin/orgs/item/@item.Id">@item.Title</a></td>
                            </tr>
                        }
                    </tbody>                    
                </table>
            </div>
        }
        else
        {
            <div class="alert alert-info">Не найдено ни одной записи.</div>
        }
    </div>
    <div class="dop_info-block">
        <div class="dop-caption">Фильтр</div>
        @Html.TextBox("searchtext", Request.QueryString["searchtext"], new { @title = "Поиск по ключевым словам", @placeholder = "поиск...", @MaxLength = "512" })
        @Html.CheckBox("disabled", Convert.ToBoolean(Request.QueryString["disabled"]), new { @title = "Отображать", @data_on = "Только запрещенные", @data_onstyle = "danger", @data_off = "Все записи", @data_width = "270" })
        <div class="row">
            <div class="col-md-6"><button type="submit" name="action" value="search-btn" class="button btn-primary">Применить</button></div>
            <div class="col-md-6"><button type="submit" name="action" value="clear-btn" class="button btn-default">Сбросить</button></div>
        </div>

    </div>

    <div class="buttons">
        @if (Model.UserResolution.Write)
        {
            <button type="submit" name="action" value="insert-btn" class="button icon-create">Создать</button>            
        }
    </div>
}
else
{
    <div class="content"><p>У вас недостаточно прав.</p></div>
}