@model OrgsViewModel
@{
    string urlParam = "/Admin/Services/ChangePermit?group=orgs";
    Guid? orgId = ViewBag.OrgId;
}

@if (Model.UserResolution.Read)
{
    <div class="content">
        <div class="row">
            <div class="col-sm-8"><h1>@ViewBag.Title</h1></div>
            <div class="col-sm-4"><a class="button icon-sort pull-right" style="max-width:150px;" data-action="noPreloader-accept" id="sorting_element" title="Добавляет возможность сортировки элементов списка">Сортировать</a></div>
        </div>

        @if (Model.Item != null)
        {
            string imgUrl = (!string.IsNullOrEmpty(Model.Item.Logo.Url) && File.Exists(Server.MapPath(Model.Item.Logo.Url))) ? Model.Item.Logo.Url : "/Content/img/nophoto.jpg";
            string link = "/admin/orgs/item/" + Model.Item.Id;

            <div class="row" data-id="@Model.Item.Id">
                <div class="list-item">
                    <div class="col-md-3">
                        <a href="@link" class="li-image-link">
                            <img src="@imgUrl" alt="@Model.Item.Title" class="list_img_preview" />
                        </a>
                    </div>
                    <div class="col-md-9">
                        <div class="li-desc">
                            <a href="@link" class="li-caption">@Model.Item.Title</a><br />
                            <span>Адрес: </span>@Model.Item.Address
                        </div>
                    </div>
                </div>
            </div>
        }
        <h4>Остальные организации</h4>
        @if (Model.OrgList != null && Model.OrgList.Count() > 0)
        {


            foreach (var item in Model.OrgList)
            {
                if (!item.Id.Equals(orgId))
                {
                    string link = "/admin/orgs/item/" + item.Id;

                    <div class="row" data-id="@item.Id">
                        <div class="list-item">
                            <div class="col-md-12">
                                <div class="li-desc">
                                    <a href="@link" class="li-caption">@item.Title</a><br />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
        else
        {
            <div class="alert alert-info">Не найдено ни одной записи.</div>
        }
    </div>
    <div class="dop_info-block">
        <div class="dop-caption">Фильтр</div>
        @Html.Partial("Part/SearchFilter")
    </div>

    <div class="buttons">
        @if (Model.UserResolution.Write)
        {
            <button type="submit" name="action" value="insert-btn" class="button icon-create">Создать</button>
        }
    </div>
}
else
{
    <div class="content"><p>У вас недостаточно прав.</p></div>
}