@model OrgsViewModel
@{ 
    string urlParam = "/Admin/Services/ChangePermit?group=orgs_structure";
}

@if (Model.UserResolution.Write)
{
    <div class="content">
        <h1>@ViewBag.Title</h1>
        @Html.TextBoxFor(m => m.Item.Title, new { required = "", type = "text", maxlength = "256", title = "Полное название" })
        @Html.TextBoxFor(m => m.Item.ShortTitle, new {  type = "text", maxlength = "128", title = "Краткое название" })
        <div class="row">
            <div class="col-lg-6">
                <select title="Тип финансирования" class="selectpicker">
                    <option value="1">Государственный</option>
                    <option value="2">Частный</option>                    
                </select>
            </div>
            <div class="col-lg-6">
                <select title="Тип мед. учреждения" class="selectpicker">
                    <option value="1">Стоматология</option>
                    <option value="2">Трамвотология</option>                    
                </select>
            </div>
        </div>
        
        <select class="selectpicker" title="Направления деятельности" multiple>
            <option value="1">Сестринское дело</option>
            <option value="2">Генетика</option>
            <option value="3">Рентегенология</option>
            <option value="4">Лучевая диагностика</option>
        </select>

        <div class="group-block open" title="Телефон и e-mail">
            <div class="row">
                <div class="col-md-4">@Html.TextBoxFor(m => m.Item.Phone, new { type = "text", maxlength = "256", title = "Телефон приемной" })</div>
                <div class="col-md-4">@Html.TextBoxFor(m => m.Item.PhoneReception, new { type = "text", maxlength = "256", title = "Телефон регистраутры" })</div>
                <div class="col-md-4">@Html.TextBoxFor(m => m.Item.Fax, new { type = "text", maxlength = "256", title = "Факс" })</div>
            </div>
            <div class="row">
                <div class="col-md-4">@Html.TextBoxFor(m => m.Item.Email, new { type = "text", maxlength = "256", title = "E-mail приемной" })</div>
            </div>
        </div>
        

        <div class="group-block open" title="Адрес">
            @Html.TextBoxFor(m => m.Item.Address, new { type = "text", maxlength = "512", title = "Адрес организации:" })
            <div class="row">
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.Item.GeopointX, new { type = "text", maxlength = "128", title = "X - координата:", @class = "Item_CoordX" })
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.Item.GeopointY, new { type = "text", maxlength = "128", title = "Y - координата:", @class = "Item_CoordY" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="map">
                        <script type="text/javascript">
                        Coords('@ViewBag.Ycoord', '@ViewBag.Xcoord', '@ViewBag.Titlecoord', '', '14');
                        </script>
                    </div>
                </div>
            </div>
        </div>

        @if (Model.Item != null)
        {
            <div class="child-list">

                <div class="row">
                    <div class="col-sm-5">
                        <h3 class="nesting_title">Структурные подразделения</h3>
                    </div>
                    <div class="col-sm-7">
                        <a class="button icon-create green pull-right" href="/admin/orgs/structure/@Guid.NewGuid()?orgid=@Model.Item.Id">Добавить</a>
                        <a class="button icon-create green pull-right" href="/admin/orgs/ovp/@Guid.NewGuid()?orgid=@Model.Item.Id">Добавить ОВП/ФАП</a>
                        <a class="button icon-sort pull-right" style="max-width:150px;" value="no-preloader-btn" id="sorting_element" title="Добавляет возможность сортировки элементов списка">Сортировать</a>
                    </div>
                </div>

                <div class="sort_list">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Название</th>
                            </tr>
                        </thead>     
                        <tbody data-service="@urlParam">
                            @if (Model.Item.Structure != null)
                            {
                                foreach (var item in Model.Item.Structure)
                                {
                                    <tr  class="ui-sortable-handle" data-id="@item.Id">
                                        <td class="map_site_icon"></td>
                                        <td>
                                            @if (item.Ovp)
                                            {
                                                <a href="/admin/orgs/ovp/@item.Id">@item.Title</a>
                                            }
                                            else
                                            {
                                                <a href="/admin/orgs/structure/@item.Id">@item.Title</a>
                                            }
                                        </td>
                                    </tr>

                                }
                            }
                        </tbody>
                        


                    </table>
                </div>

            </div>
        }
        else
        {
            <br />
            <p>Структурные подразделения можно будет добавить после сохранения организации.</p>
        }
    </div>
    <div class="dop_info-block">
        <div class="dop-caption">Дополнительно</div>
        @Html.TextBoxFor(m => m.Item.Logo, new { type = "file", title = "Логотип", data_name = "", data_size = "", data_url = "", data_help = "размер фотографии" })

        @if (Model.Item.SiteId != null)
        {
            <br />
            <div class="alert alert-info">
                <strong>Сайт данной организации создан!</strong><br>
                <a href="/admin/sites/item/@Model.Item.SiteId" target="_blank">Редактировать сайт</a>
            </div>
        }
        else
        {
            <a class="button icon-create" href="/Admin/Sites/Master/@Guid.NewGuid()/?type=org&contentid=@Model.Item.Id" target="_blank">Создать сайт организации</a>
        }

        @if (Model.Item != null)
                {
            @Html.ActionLink("Журнал изменений", "log", "services", new { @id = Model.Item.Id }, new { @id = "LogLists", @class = "button pop-up_frame icon-archive", @data_class = "LogList", @title = "Журнал изменений" })
        }

    </div>
}
else
{
    <div class="content"><p>У вас недостаточно прав.</p></div>
}

<div class="buttons">
    @if ((Model.Item != null && Model.UserResolution.Change) || (Model.Item == null && Model.UserResolution.Write))
    {
        <button type="submit" name="action" value="save-btn" data-primary="true" class="button icon-create">Сохранить</button>
    }
    @if (Model.Item != null && Model.UserResolution.Delete)
    {
        <button type="submit" name="action" value="delete-btn" data-action="delete" class="button icon-delete">Удалить</button>
    }
    <button type="submit" name="action" value="cancel-btn" data-action="cancel" class="button icon-cancel">Назад</button>
</div>