@model OrgsViewModel

@if (Model.UserResolution.Write)
{
    <div class="content">
        <h1>@ViewBag.Title</h1>
        @Html.Partial("part/bread")
        @Html.TextBoxFor(m => m.StructureItem.Title, new { required = "", type = "text", maxlength = "256", title = "Название подразделения" })               
        <div class="group-block open" title="Телефон и e-mail">
            <div class="row">
                <div class="col-md-4">@Html.TextBoxFor(m => m.StructureItem.Phone, new { type = "text", maxlength = "256", title = "Телефон приемной:" })</div>
                <div class="col-md-4">@Html.TextBoxFor(m => m.StructureItem.PhoneReception, new { type = "text", maxlength = "256", title = "Телефон регистраутры:" })</div>
                <div class="col-md-4">@Html.TextBoxFor(m => m.StructureItem.Fax, new { type = "text", maxlength = "256", title = "Факс:" })</div>
            </div>
            <div class="row">
                <div class="col-md-4">@Html.TextBoxFor(m => m.StructureItem.Email, new { type = "text", maxlength = "256", title = "E-mail приемной:" })</div>
            </div>
        </div>
        <div class="group-block open" title="Адрес">
            @Html.TextBoxFor(m => m.StructureItem.Adress, new { type = "text", maxlength = "512", title = "Адрес организации:" })
            <div class="row">
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.StructureItem.GeopointX, new { type = "text", maxlength = "128", title = "X - координата:" })
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.StructureItem.GeopointY, new { type = "text", maxlength = "128", title = "Y - координата:" })
                </div>
            </div>
        </div>
        <div class="group-block " title="Как добраться">
            @Html.TextAreaFor(m => m.StructureItem.Routes, new { type = "editor", title = "Текст", height = "100" })
        </div>
        <div class="group-block " title="График работы">
            @Html.TextAreaFor(m => m.StructureItem.Schedule, new { type = "editor", title = "Текст", height = "100" })
        </div>


        <div class="child-list">
            <div class="child-list_head">
                <div class="row">
                    <div class="col-lg-8"><h1>Отделения</h1></div>
                    <div class="col-lg-4 text-right"><button class="button icon-create green pull-right" type="submit" name="action" value="structure-ins">Добавить</button></div>
                </div>
            </div>
            <div class="site_map_list">
                <table class="table table-striped">
                    <tr>
                        <th>&nbsp;</th>
                        <th>Название</th>
                    </tr>
            @if (Model.StructureItem.Departments != null)
            {
                foreach (var item in Model.StructureItem.Departments)
                {
                    <tr>
                        <td class="map_site_icon"></td>
                        <td>
                            <a href="/admin/orgs/department/@item.Id">@item.Title</a>
                        </td>
                    </tr>

                }
            }


                </table>
            </div>

        </div>

    </div>
    <div class="dop_info-block">
        <div class="dop-caption">Дополнительно</div>

    </div>
}
else
{
    <div class="content"><p>У вас недостаточно прав.</p></div>
}

<div class="buttons">
    @if ((Model.Item != null && Model.UserResolution.Change) || (Model.Item == null && Model.UserResolution.Write))
    {
        <button type="submit" name="action" value="save-btn" data-primary="true" class="button icon-create">Сохранить</button>
    }
    @if (Model.Item != null && Model.UserResolution.Delete)
    {
        <button type="submit" name="action" value="delete-btn" class="button icon-delete">Удалить</button>
    }
    <button type="submit" name="action" value="cancel-btn" class="button icon-cancel">Закрыть</button>
</div>