@model OrgsViewModel
@{
    string orgid = Request.Params["orgid"] != null ? Request.Params["orgid"] : ViewBag.OrgId.ToString();
}
@{
    string urlParam = "/Admin/Services/ChangePermit?group=orgs_department";
}
@if (Model.UserResolution.Read)
{
    <div class="content">
        <h1>@ViewBag.Title</h1>
        @Html.Partial("part/bread")
        @Html.Hidden("orgid", orgid)
        @Html.TextBoxFor(m => m.StructureItem.Title, new { required = "", type = "text", maxlength = "256", title = "Название подразделения" })
        <div class="group-block open" title="Телефон и e-mail">
            <div class="row">
                <div class="col-md-4">@Html.TextBoxFor(m => m.StructureItem.Phone, new { type = "text", maxlength = "256", title = "Телефон приемной" })</div>
                <div class="col-md-4">@Html.TextBoxFor(m => m.StructureItem.PhoneReception, new { type = "text", maxlength = "256", title = "Телефон регистраутры" })</div>
                <div class="col-md-4">@Html.TextBoxFor(m => m.StructureItem.Fax, new { type = "text", maxlength = "256", title = "Факс" })</div>
            </div>
            <div class="row">
                <div class="col-md-4">@Html.TextBoxFor(m => m.StructureItem.Email, new { type = "text", maxlength = "256", title = "E-mail приемной" })</div>
            </div>
        </div>
        <div class="group-block open" title="Адрес">
            @Html.TextBoxFor(m => m.StructureItem.Adress, new { type = "text", maxlength = "512", title = "Адрес организации:" })
            <div class="row">
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.StructureItem.GeopointX, new { type = "text", maxlength = "128", title = "X - координата:" })
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(m => m.StructureItem.GeopointY, new { type = "text", maxlength = "128", title = "Y - координата:" })
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="map">
                        <script type="text/javascript">
                            Coords('@ViewBag.Ycoord', '@ViewBag.Xcoord', '@ViewBag.Titlecoord', '', '14');
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="group-block " title="Как добраться">
            @Html.TextAreaFor(m => m.StructureItem.Routes, new { type = "editor", title = "Текст", height = "100" })
        </div>
        <div class="group-block " title="График работы">
            @Html.TextAreaFor(m => m.StructureItem.Schedule, new { type = "editor", title = "Текст", height = "100" })
        </div>

        @if (Model.StructureItem != null && Model.SectionResolution != null)
        {
            <div class="child-list">
                <div class="child-list_head">
                    <div class="row">
                        <div class="col-lg-5"><h1>Отделения</h1></div>
                        <div class="col-lg-7 text-right">
                            @if (Model.SectionResolution.Write)
                            {
                                <a class="button icon-create green pull-right" href="/admin/orgs/department/@Guid.NewGuid()?strucid=@Model.StructureItem.Id">Добавить</a>
                            }
                            @if (Model.SectionResolution.Change)
                            {
                                <a class="button icon-sort pull-right" style="max-width:150px;" data-action="noPreloader-accept" id="sorting_element" title="Добавляет возможность сортировки элементов списка">Сортировать</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="sort_list">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th>Название</th>
                            </tr>
                        </thead>
                        <tbody data-service="@urlParam">
                            @if (Model.StructureItem.Departments != null)
                            {
                                foreach (var item in Model.StructureItem.Departments)
                                {
                                    <tr class="ui-sortable-handle" data-id="@item.Id">
                                        <td class="map_site_icon"></td>
                                        <td>
                                            <a href="/admin/orgs/department/@item.Id">@item.Title</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        }
        else
        {
            <p>
                <br />
                Отделения можно добавлять только после создания струкутурного подразделения.
            </p>
        }

    </div>
    <div class="dop_info-block">
        @*<div class="dop-caption">Дополнительно</div>
        <div class="group-block open" title="Руководитель отделения">
            @Html.TextBoxFor(m => m.DepartmentItem.DirecorPost, new { type = "text", title = "Должность" })
        </div>*@

    </div>
}
else
{
    <div class="content"><p>У вас недостаточно прав.</p></div>
}

<div class="buttons">
    @if ((Model.StructureItem != null && Model.SectionResolution.Change) || (Model.StructureItem == null && Model.SectionResolution.Write))
    {
        <button type="submit" name="action" value="save-structure-btn" data-primary="true" class="button icon-create">Сохранить</button>
    }
    @if (Model.StructureItem != null && Model.SectionResolution.Delete)
    {
        <button type="submit" name="action" value="delete-structure-btn" data-action="delete" class="button icon-delete">Удалить</button>
    }
    <button type="submit" name="action" value="cancel-structure-btn" data-action="cancel" class="button icon-cancel">Назад</button>
</div>