@model MapSiteViewModel
@{
    if (Model.SitesInfo.Alias == "main")
    {
        Layout = "/views/_portal/shared/_layout.cshtml";
    }
}
@functions{
    private string getChildren(string path, string alias)
    {
        var children = Model.List
            .Where(w => w.Path.Equals(path + alias + "/"))
            .OrderBy(o => o.Sort)
            .Select(s => s);

        if (children.Any())
        {
            string result = null;
            result += "<ul>";
            foreach (var item in children.ToArray())
            {
                string link = item.FrontSection.Equals("page") 
                    ? item.Path + item.Alias : "/" + item.FrontSection;

                result += "<li><a href=\"" + link + "\">" + item.Title + "</a></li>";

                result += getChildren(item.Path, item.Alias);
            }
            result += "</ul>";
            return result;
        }
        return null;
    }
}

<div class="container">
    @Html.Partial("services/breadcrumbs")
    <h1>@ViewBag.Title</h1>

    @if (Model.List != null)
    {
        <ul>
            @foreach (var item in Model.List.Where(w => w.Path.Equals("/")))
            {
                string link = item.FrontSection.Equals("page")
                    ? item.Path + item.Alias : "/" + item.FrontSection;

                string rs = getChildren(item.Path, item.Alias);

                <li>
                    <a href="@link">@item.Title</a>
                    @if (rs != null)
                    {
                        @Html.Raw(rs)
                    }
                </li>
            }
        </ul>
    }
</div>