@model EventViewModel
@{
    string dateBegin = Model.Item.DateBegin.ToString("HH:mm | dd.MM.yyyy");
    string dateEnd = (Model.Item.DateEnd != null ? Convert.ToDateTime(Model.Item.DateEnd).ToString("HH:mm | dd.MM.yyyy") : null);
}
@{
    if (Model.SitesInfo.Alias == "main")
    {
        Layout = "/views/_portal/shared/_layout.cshtml";
    }
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            @Html.Partial("services/breadcrumbs")
            <h1>@ViewBag.Title</h1>
            <h2>@Model.Item.Title</h2>
        </div>
        <div class="col-md-8">
            @Html.Raw(Model.Item.Text)
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="dop-block">
                <div class="dop-block_info">
                    <label>Дата начала</label>
                    <div>@dateBegin</div>

                    @if (dateEnd != null)
                    {
                        <label>Дата окончания</label>
                        <div>@dateEnd</div>
                    }
                </div>
                <a class="btn_print" onClick="window.print()">Распечатать</a><br />
                <a class="btn_share" title="Поделиться" href="../../../../#">Поделиться</a>
            </div>
        </div>
    </div>
</div>
